 <main>
    <div class="flex_wrapper1">
      <div class="fitpassContent flex-1">
        <h1 class="f1 c1">ONE MEMBERSHIP</h1>

        <span class="f3 c1">to India’s largest fitness network</span>
        <br>
        <span class="f3 c1">of <strong>4,000+</strong> gyms & fitness studios</span>
        <div class="gradientUnderLine" style="width:80px"></div>

        <div class="workoutContainer flex">
          <div class="flex col workoutImageContaier">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/dance_ic.png">
            <span class="workoutName">Dance</span>
          </div>
          <div class="flex col workoutImageContaier">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/crossfit_ic.png">
            <span class="workoutName">CrossFit</span>
          </div>
          <div class="flex col workoutImageContaier">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/core_workout_ic.png">
            <span class="workoutName">Core Workout
            </span>
          </div>
          <div class="flex col workoutImageContaier">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/yoga_ic.png">
            <span class="workoutName">Yoga</span>
          </div>
          <div class="flex col workoutImageContaier">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/zumba_ic.png">
            <span class="workoutName">Zumba</span>
          </div>
          <div class="flex col workoutImageContaier">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/KickBoxing-ic.png">
            <span class="workoutName">KickBoxing
            </span>
          </div>
        </div>

        <span class="c1 f7 manyText">and many many more...</span>

        <div class="flex" style="justify-content:center">
          <a href="#" class="studioNearYouButton c2 f6 bgPrimary">Find studios near you
            <i class="fas fa-arrow-right"></i></a>
          <a href="#" class="studioNearYouButton c1 f6 bgWhite " style="margin-left:20px">Get Fit Now</a></div>
      </div>

      <div class="video_wrapper vedioContainer">
        <div class="vedioContenContainer">
          <div class="vedioHeader f7 bgPrimary">What is Wizhob?</div>
          <div class="flex-1">
            <video controls="" poster="assets/img/what-is-fitpass.png" src="assets/videos/video_01.mp4"></video>
          </div>
        </div>
      </div>

    </div>

    <div class="flex_wrapper2 flex col">
      <h2 class="heading f2 c1">Benefits</h2>
      <div class="gradientUnderLine"></div>

      <div class="flex col mt_10 p-0">

        <div class="flex alignCenter mt_40 benefitContentStyle">
          <div class="vedioContenContainer flex-1">
            <div class="vedioHeader f7 c2 bgPrimary">How does Wizhob work?</div>
            <div>
              <video controls="" poster="assets/img/how-does-fitpass.png" src="assets/videos/video_02.mp4"></video>
            </div>
          </div>

          <div class="benefitsContainer flex-1">

            <div class="flex benefitContainer">
              <div class="flex col text-center">
                <img class="benefitImage" src="assets/img/App_ic.svg">
                <div class="benefitGradient"></div>
              </div>
              <div class="flex flex-auto col ml_15">
                <span class="benefitHeading">One Pass to Your Fitness</span>
                <span class="benefitDescription">Get fit at any fitness center near you, consult expert nutritionists,
                  and
                  get customized exercise routines from a revolutionary A.I. based coach</span>
              </div>
            </div>

            <div class="flex benefitContainer">
              <div class="flex col text-center">
                <img class="benefitImage" src="assets/img/city_ic.svg">
                <div class="benefitGradient"></div>
              </div>
              <div class="flex flex-auto col ml_15">
                <span class="benefitHeading">15+ Cities</span>
                <span class="benefitDescription">
                  <span>FITPASS is your smart membership to workout anywhere, anytime across 15+ cities of India</span>
                </span>
              </div>
            </div>

            <div class="flex benefitContainer">
              <div class="flex col text-center">
                <img class="benefitImage" src="assets/img/trending_ic.svg">
                <div class="benefitGradient"></div>
              </div>
              <div class="flex flex-auto col ml_15">
                <span class="benefitHeading">Meet Like-minded Fitness Enthusiasts</span>
                <span class="benefitDescription">Join the fast growing 500,000+ FITPASS community. Get inspired, attend
                  new workout sessions and attract others like you</span>
              </div>
            </div>

          </div>
        </div>

        <div class="flex benifitsFooterData">
          <div class="flex benefitFooterContainer">
            <div class="flex col text-center">
              <img class="benefitImage" src="assets/img/workout_anywhere_ic.svg">
              <div class="benefitFooterGradient"></div>
            </div>
            <div class="flex flex-auto col ml_15">
              <span class="benefitHeading">Workout Anywhere</span>
              <span class="benefitDescription">Attend your favorite workout sessions at the best gyms and fitness
                studios
                near your home, office and more with your FITPASS</span>
            </div>
          </div>

          <div class="flex benefitFooterContainer">
            <div class="flex col alignCenter">
              <img class="benefitImage" src="assets/img/anytime_ic.svg">
              <div class="benefitFooterGradient"></div>
            </div>
            <div class="flex col ml_15 flex-auto">
              <span class="benefitHeading">Workout Anytime</span>
              <span class="benefitDescription">Attend any or multiple sessions at any center(s) in a day at your
                convenience</span>
            </div>
          </div>

          <div class="flex benefitFooterContainer">
            <div class="flex col alignCenter">
              <img class="benefitImage" src="assets/img/anyhow_ic.svg">
              <div class="benefitFooterGradient"></div>
            </div>
            <div class="flex flex-auto col ml_15">
              <span class="benefitHeading">Workout Anyhow</span>
              <span class="benefitDescription">Yoga, Zumba, Pilates, Swimming, Gym workout, MMA, CrossFit, Spinning –
                you
                name it, you have it with your FITPASS</span>
            </div>
          </div>
        </div>

      </div>


    </div>

    <div class="flex_wrapper3 desktop-view flex col">
      <h2 class="heading f2 c1">India’s largest fitness network</h2>
      <div class="gradientUnderLine"></div>

      <span class="f4 c1" style="margin-top:24px">Wizhob gives you unmatched variety, density, and depth.</span>

      <span class="f4 c1">4,000+ premium gyms and fitness studios for you to workout anywhere, anytime. There’s always
        a</span>
      <span class="f4 c1" style="margin-bottom:28px">Wizhob fitness centre near you with your favourite workouts</span>

      <div class="flex center pl_125">
        <img src="assets/img/india_map.png">

        <div class="flex-1 flex" style="flex-wrap:wrap;padding-left:72px">
          <a href="#" class="location">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/delhi_ic.png">
            <span class="c1 f4 locationText">Delhi</span></a>
          <a href="#" class="location">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/mumbai_ic.png">
            <span class="c1 f4 locationText">Mumbai</span>
          </a>
          <a href="#" class="location">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/begaluru_ic.png">
            <span class="c1 f4 locationText">Bengaluru</span>
          </a>
          <a href="#" class="location">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/pune_ic.png">
            <span class="c1 f4 locationText">Pune</span>
          </a>
          <a href="#" class="location">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/chennai_ic.png">
            <span class="c1 f4 locationText">Chennai</span>
          </a>
          <a href="#" class="location">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/hyderabad_ic.png">
            <span class="c1 f4 locationText">Hyderabad</span>
          </a>
          <a href="#" class="location">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/Gurugram_ic.png">
            <span class="c1 f4 locationText">Gurugram</span>
          </a>
          <a href="#" class="location">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/kolkata_ic.png">
            <span class="c1 f4 locationText">Kolkata</span>
          </a>
          <a href="#" class="location">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/noida_ic.png">
            <span class="c1 f4 locationText">Noida</span>
          </a>
          <a href="#" class="location">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/jaipur_ic.png">
            <span class="c1 f4 locationText">Jaipur</span>
          </a>
          <a href="#" class="location">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/ahmedabad_ic.png">
            <span class="c1 f4 locationText">Ahmedabad</span>
          </a>
          <a href="#" class="location">
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/chandigarh_ic.png">
            <span class="c1 f4 locationText">Chandigarh</span>
          </a>
        </div>
      </div>

    </div>

    <div class="flex_wrapper3 mobile-view flex col">
      <h2 class="heading c1">India’s largest fitness network</h2>
      <div class="gradientUnderLine"></div><span class="f7 c1" style="margin-top:16px;margin-bottom:16px">FITPASS gives
        you unmatched variety, density, and depth.
        4,000+ premium gyms and fitness studios for you to workout anywhere, anytime. There’s always a
        FITPASS fitness centre near you with your favourite workouts</span>
      <div class="flex center"
        style="background-repeat:no-repeat;background-size:contain;background-image:url(&quot;https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/india_map.png&quot;)">
        <div class="flex-1 flex" style="flex-wrap:wrap;justify-content:space-around">
          <div class="locationDiv"><a href="/delhi" class="location"><img class="locationImage"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/delhi_ic.png"><span
                class="c1 f8 locationText">Delhi</span></a></div>
          <div class="locationDiv"><a href="/mumbai" class="location"><img class="locationImage"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/mumbai_ic.png"><span
                class="c1 f8 locationText">Mumbai</span></a></div>
          <div class="locationDiv"><a href="/bengaluru" class="location"><img class="locationImage"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/begaluru_ic.png"><span
                class="c1 f8 locationText">Bengaluru</span></a></div>
          <div class="locationDiv"><a href="/pune" class="location"><img class="locationImage"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/pune_ic.png"><span
                class="c1 f8 locationText">Pune</span></a></div>
          <div class="locationDiv"><a href="/chennai" class="location"><img class="locationImage"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/chennai_ic.png"><span
                class="c1 f8 locationText">Chennai</span></a></div>
          <div class="locationDiv"><a href="/hyderabad" class="location"><img class="locationImage"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/hyderabad_ic.png"><span
                class="c1 f8 locationText">Hyderabad</span></a></div>
          <div class="locationDiv"><a href="/gurugram" class="location"><img class="locationImage"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/Gurugram_ic.png"><span
                class="c1 f8 locationText">Gurugram</span></a></div>
          <div class="locationDiv"><a href="/kolkata" class="location"><img class="locationImage"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/kolkata_ic.png"><span
                class="c1 f8 locationText">Kolkata</span></a></div>
          <div class="locationDiv"><a href="/noida" class="location"><img class="locationImage"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/noida_ic.png"><span
                class="c1 f8 locationText">Noida</span></a></div>
          <div class="locationDiv"><a href="/jaipur" class="location"><img class="locationImage"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/jaipur_ic.png"><span
                class="c1 f8 locationText">Jaipur</span></a></div>
          <div class="locationDiv"><a href="/ahmedabad" class="location"><img class="locationImage"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/ahmedabad_ic.png"><span
                class="c1 f8 locationText">Ahmedabad</span></a></div>
          <div class="locationDiv"><a href="/chandigarh" class="location"><img class="locationImage"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/chandigarh_ic.png"><span
                class="c1 f8 locationText">Chandigarh</span></a></div>
        </div>
      </div>
    </div>

    <div class="flex_wrapper4">
      <div class="subContainer flex col">
        <h2 class="heading f2 c1">To Help You Achieve Your Fitness Goals Faster</h2>
        <div class="gradientUnderLine"></div>
        <span class="f4 c1" style="margin-top:24px;margin-bottom:28px">Get In-app Personal Nutritionist and AI led
          Fitness Coaching Services </span>
        <div class="accordion flex col text-center">
          <div id="expandView" class="scrollBottom center flex animated fadeInDown">
            <img class="roatateBack" src="assets/img/ic_arrow_downward.png">
          </div>
          <span class="f6 c1">Click to
            <!-- --> expand</span>
        </div>
      </div>
    </div>

    <div id="expandedView">
      <div class="flex_wrapper5 background-right desktop-view flex col relative">
        <h2 class="heading f2 c1">FITCOACH</h2>
        <div class="gradientUnderLine"></div>
        <img class="fitCoachImage" src="assets/img/fitcoach_ic.png">
        <div class="flex flex-1">
          <div class="flex-1 flex col" style="justify-content:flex-end">
            <div class="flex nutritionText">
              <span class="f4 c1">Our revolutionary AI technology creates personalized video-based fitness routines that
                adapt and update based on your needs and performance</span>
            </div>
            <a href="#" class="studioNearYouButton c2 f6 bgPrimary"
              style="margin-left:20px;align-self:flex-start;margin-top:30px">Know More
              <i class="fas fa-arrow-right"></i>
            </a>
          </div>

          <div class="vedioContainer flex-1" style="padding-top:35px">
            <div class="vedioContenContainer" style="margin-right:20px">
              <div class="vedioHeader f7 c2 bgPrimary">How does Wizhob work?</div>
              <div>
                <video poster="assets/img/fitcoach-by-fitpass.png" controls="" src="assets/videos/video_02.mp4"></video>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="flex col flex-1 mobile-view">
        <div class="vedioContainer flex-1 p-0">
          <div class="vedioContenContainer">
            <div class="vedioHeader f10 c2 bgPrimary">How does FITCOACH work?</div>
            <div>
              <video controls="" poster="/static/videos/thumbnail/fitcoach-by-fitpass.png"
                src="/static/videos/fitcoach-by-fitpass.mp4"></video>
            </div>
          </div>
        </div>
        <div class="flex-1 flex col p-0" style="justify-content:flex-end">
          <div class="flex nutritionText p-0">
            <span class="f8 c1">Our revolutionary AI technology creates personalized
              video-based fitness routines that adapt and update based on your needs and performance</span>
          </div>
          <div class="flex" style="align-items:center;justify-content:space-between">
            <a href="/fitcoach" class="studioNearYouButton c2 f10 bgPrimary">Know More
              <img class="rightIcon"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/ic_arrow_forward.png"
                alt="right_arrow">
            </a>
            <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fitcoach_small.png">
          </div>
        </div>
      </div>

    </div>

    <div class="flex_wrapper6 flex_wrapper6_bg flex col">
      <h2 class="heading f2 c1">FITFEAST</h2>
      <div class="gradientUnderLine"></div>
      <div class="flex mob-column" style="margin-top:43px">
        <div class="vedioContenContainer flex-1" style="margin-left:20px">
          <div class="vedioHeader f7 c2 bgPrimary">How does Wizhob work?</div>
          <div>
            <video controls="" poster="" src="assets/videos/video_03.mp4"></video>
          </div>
        </div>
        <div class="benefitsContainer flex col justifyCenter flex-1">
          <span class="f4 mt_120 c1 lh_1_5">Expert nutritionists and dietitians available on chat, voice or video call
            provide daily diet plans for guaranteed results </span>
          <a href="#" class="dietitianViewMore mt_40 c2 f6 bgPrimary">Know More
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="bg-white">
      <div id="getTheApp" class="flex_wrapper7 flex center">
        <img src="assets/img/fitpass_app_screen_ic.png" class="getTheAppImage" alt="fitpass app screen Image">

        <div class="getTheAppContainer">
          <span class="f2 c1">
            <strong>Get the app
              <!-- -->&nbsp;</strong>
          </span>
          <br>
          <span class="f4 c1">with just a tap!</span>
          <br><br>
          <span class="f5 c1">Please enter your details to get a link to the app. </span>
          <form class="flex formStyle" style="margin-top:24px">
            <div
              style="padding-left:24px;height:28px;display:flex;padding-right:10px;border-right:1px solid #2e276e;align-items:center">
              +91 </div>
            <input type="text" value="" class="inputStyle f6" placeholder="Enter mobile number">
            <div class="bgPrimary c2 studioNearYouButton" style="margin-top:0px;border-radius:0px">
              <strong>Text App Link</strong>
            </div>
          </form>
          <span class="successStyle"> </span>
          <span class="errorStyle f8"> </span>
          <div class="flex" style="align-items:center">
            <div class="flex-1" style="height:1px;background:#bcbcbc"></div>
            <div class="f6 c1" style="margin:12px 10px">OR</div>
            <div class="flex-1" style="height:1px;background:#bcbcbc"></div>
          </div>
          <form class="flex formStyle">
            <input type="text" value="" class="inputStyle f6" placeholder="Enter email ID ">
            <div class="bgPrimary c2 studioNearYouButton" style="margin-top:0px;border-radius:0px">
              <strong>Email App Link</strong>
            </div>
          </form>
          <span class="successStyle"> </span>
          <span class="errorStyle f8"> </span>
          <div class="flex mt_12 alignCenter">
            <a target="_blank" href="#">
              <img width="120" src="assets/img/app_store_ic.png" alt="fitpass app store ">
            </a>
            <a target="_blank" href="#">
              <img width="120" class="ml_15" src="assets/img/play_store_ic.png" alt="fitpass play store">
            </a>
          </div>
        </div>
      </div>

      <div class="getTheAppContainer flex_wrapper7 mobile-view">
        <span class="f5 c1"> <strong>Get the app</strong></span>
        <span class="f7 c1 ml_5">with just a tap!</span>
        <br>
        <div class="flex spaceAround">
          <img class="getTheAppImage" src="assets/img/fitpass_app_screen_ic.png" alt="fitpass app screen">
          <div class="flex col center p-0 flex-0">
            <a href="#">
              <img class="appStoreImage" src="assets/img/app_store_ic.png"></a>
            <a href="#">
              <img class="appStoreImage" src="assets/img/play_store_ic.png"></a>
          </div>
        </div>
      </div>

    </div>

    <div class="flex_wrapper8 flex col center">
      <h2 class="heading f2 c1">MEDIA</h2>
      <div class="gradientUnderLine"></div>

      <div class="mediaContainer">
        <div class="regular">
          <div>
            <div class="mediaContentContainer flex center">
              <img src="assets/img/gadgets_ndtv@2x.png" class="mediaImageStyle">
              <div class="mediaContent">
                <h4 class="f6 c1">Meet the Indian Startups Vying to Be the Swiggy of the Health Space</h4>
                <time class="f8 c1 mt_5"> 11 January 2017 16:30 IST</time>
                <br>
                <span class="f7 c1 mt_10"></span>
                <span class="f7 c1 mt_10">
                  <a rel="noreferrer" href="#" target="blank">Read More</a>
                </span>
              </div>
            </div>
          </div>

          <div>
            <div class="mediaContentContainer flex center">
              <img src="assets/img/gadgets_ndtv@2x.png" class="mediaImageStyle">
              <div class="mediaContent">
                <h4 class="f6 c1">Meet the Indian Startups Vying to Be the Swiggy of the Health Space</h4>
                <time class="f8 c1 mt_5"> 11 January 2017 16:30 IST</time>
                <br>
                <span class="f7 c1 mt_10"></span>
                <span class="f7 c1 mt_10">
                  <a rel="noreferrer" href="#" target="blank">Read More</a>
                </span>
              </div>
            </div>
          </div>

          <div>
            <div class="mediaContentContainer flex center">
              <img src="assets/img/gadgets_ndtv@2x.png" class="mediaImageStyle">
              <div class="mediaContent">
                <h4 class="f6 c1">Meet the Indian Startups Vying to Be the Swiggy of the Health Space</h4>
                <time class="f8 c1 mt_5"> 11 January 2017 16:30 IST</time>
                <br>
                <span class="f7 c1 mt_10"></span>
                <span class="f7 c1 mt_10">
                  <a rel="noreferrer" href="#" target="blank">Read More</a>
                </span>
              </div>
            </div>
          </div>

          <div>
            <div class="mediaContentContainer flex center">
              <img src="assets/img/gadgets_ndtv@2x.png" class="mediaImageStyle">
              <div class="mediaContent">
                <h4 class="f6 c1">Meet the Indian Startups Vying to Be the Swiggy of the Health Space</h4>
                <time class="f8 c1 mt_5"> 11 January 2017 16:30 IST</time>
                <br>
                <span class="f7 c1 mt_10"></span>
                <span class="f7 c1 mt_10">
                  <a rel="noreferrer" href="#" target="blank">Read More</a>
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="flex_wrapper9 flex col center">
      <h2 class="heading f2 c1">What our customers say about us</h2>
      <div class="gradientUnderLine"></div>
      <div style="position:relative;width:100%">
        <div id="cardContainer" class="reviewCardContainer flex">
          <div class="card ml_60">
            <span>Finally a membership I can trust. Browsing gyms and booking sessions is really
              simple. Their team is really helpful – they step in whenever there is a misunderstanding at the gym. I’m
              really enjoying working out.</span>
            <div class="flex avatarContainer">
              <img class="reviewAvatar" src="assets/img/placeholder.jpg">
              <div class="ml_5 flex-1">
                <h5 class="f5 c1">User01</h5>
                <time class="f7" style="color:#b2bacc;margin-top:7px">16 Jan, 2016</time>
              </div>
              <div class="mb_10" style="align-self:flex-end">
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
              </div>
            </div>
          </div>
          <div class="card">
            <span>So glad to be attending different dance classes across Pune. I moved here sometime
              back and Fitpass made it really simple for me. I did not have to go around each gym trying their classes.
              Thanks FITPASS.</span>
            <div class="flex avatarContainer"><img class="reviewAvatar" src="assets/img/placeholder.jpg">
              <div class="ml_5 flex-1">
                <h5 class="f5 c1">User02</h5>
                <time class="f7" style="color:#b2bacc;margin-top:7px">18 May, 2017</time>
              </div>
              <div class="mb_10" style="align-self:flex-end">
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
              </div>
            </div>
          </div>
          <div class="card">
            <span>Fitpass app has made it really simple for me to go swimming. The pool I went to was
              really crowded but that is not a problem now since I can book a session wherever I want. I saved over 1000
              rupees last month.</span>
            <div class="flex avatarContainer">
              <img class="reviewAvatar" src="assets/img/placeholder.jpg">
              <div class="ml_5 flex-1">
                <h5 class="f5 c1">User03</h5>
                <time class="f7" style="color:#b2bacc;margin-top:7px">06 Aug, 2018</time>
              </div>
              <div class="mb_10" style="align-self:flex-end">
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
              </div>
            </div>
          </div>
          <div class="card">
            <span>I am a Jaipurite and I have been working out for years. I have been to tons of gyms,
              but thanks to Fitpass I don’t have to pay for 6 months or the entire year to get a reasonable deal. I get
              worth for my money and new workouts have opened up a whole new world for me. Really satisfied.</span>
            <div class="flex avatarContainer">
              <img class="reviewAvatar" src="assets/img/placeholder.jpg">
              <div class="ml_5 flex-1">
                <h5 class="f5 c1">User04</h5>
                <time class="f7" style="color:#b2bacc;margin-top:7px">01 Jun, 2019</time>
              </div>
              <div class="mb_10" style="align-self:flex-end">
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
              </div>
            </div>
          </div>
          <div class="card">
            <span>I am a dancer and wanted to try Pilates classes but only a handful of places offered
              them. I got FITPASS a few months ago and now I can attend Pilates group classes near me almost every day.
              The app is super simple to use as well!</span>
            <div class="flex avatarContainer">
              <img class="reviewAvatar" src="assets/img/placeholder.jpg">
              <div class="ml_5 flex-1">
                <h5 class="f5 c1">User05</h5>
                <time class="f7" style="color:#b2bacc;margin-top:7px">18 Feb, 2019</time>
              </div>
              <div class="mb_10" style="align-self:flex-end">
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
              </div>
            </div>
          </div>
          <div class="card">
            <span>I have had the best working out experience with Fitpass for the past 8-9 months. I
              can book any session I want, whenever I want. The best part is that you can workout any number of times
              you like.</span>
            <div class="flex avatarContainer">
              <img class="reviewAvatar" src="assets/img/placeholder.jpg">
              <div class="ml_5 flex-1">
                <h5 class="f5 c1">User</h5>
                <time class="f7" style="color:#b2bacc;margin-top:7px">12 May, 2019</time>
              </div>
              <div class="mb_10" style="align-self:flex-end"><i class="fa fa-star starYellow f8 mr_8"></i><i
                  class="fa fa-star starYellow f8 mr_8"></i><i class="fa fa-star starYellow f8 mr_8"></i><i
                  class="fa fa-star starYellow f8 mr_8"></i><i class="fa fa-star starYellow f8 mr_8"></i></div>
            </div>
          </div>
          <div class="card">
            <span>It’s either extremely expensive personal training or the selective attention of the
              trainers. FITCOACH helped me a lot here. I get workout suggestions that have helped me lose quite a lot of
              weight without having to rely on trainers.</span>
            <div class="flex avatarContainer">
              <img class="reviewAvatar" src="assets/img/placeholder.jpg">
              <div class="ml_5 flex-1">
                <h5 class="f5 c1">User</h5>
                <time class="f7" style="color:#b2bacc;margin-top:7px">08 Jun, 2019</time>
              </div>
              <div class="mb_10" style="align-self:flex-end"><i class="fa fa-star starYellow f8 mr_8"></i><i
                  class="fa fa-star starYellow f8 mr_8"></i><i class="fa fa-star starYellow f8 mr_8"></i><i
                  class="fa fa-star starYellow f8 mr_8"></i><i class="fa fa-star starYellow f8 mr_8"></i></div>
            </div>
          </div>
          <div class="card">
            <span>I did not know that it was possible to get recommendations from an artificial
              intelligence led program. Anyway, the suggestions are to the point and have helped me to get in shape
              within a few months!</span>
            <div class="flex avatarContainer">
              <img class="reviewAvatar" src="assets/img/placeholder.jpg">
              <div class="ml_5 flex-1">
                <h5 class="f5 c1">User</h5>
                <time class="f7" style="color:#b2bacc;margin-top:7px">30 Jun, 2019</time>
              </div>
              <div class="mb_10" style="align-self:flex-end">
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
                <i class="fa fa-star starYellow f8 mr_8"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>