.image-preview{
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 35% 0;
    margin-top: -37px;;
    margin-bottom: 10px; 

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.custom-file-input {
    opacity: 50;
    border-radius: 50%;
    border:1px solid black ;
    width: 30px;
    height: 30px;
    margin-left: 50%;
    z-index:2;
  }
  .custom-file-input::before {
    display: inline-block;
    cursor: pointer;
  }
