<div class="relative flex-1 formContainer ">
    <form [formGroup]="editDetailForm" (ngSubmit)="editProfile()" enctype="multipart/form-data">
      <div class="headingContainer">
        <h1 class="headingTitle">Profile Details</h1>
        <div class="flex alignCenter underLineContainer">
          <div class="blueUnderline"></div>
        </div>
      </div>
      <span class="formDescription">Update your profile details.</span>
      <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-6">
          <div style="margin-top: 15px;">

            <label style="margin-top:20px;" class="custom-file-input">
              <img src="../../../../assets/img/pen.jpg"
                style="margin-left:2px; width: 25px; height: 25px; border-radius: 60%; " />
              <input formControlName="image" type="file" value="" style="display: none;"
                (change)="onFileChange($event)">
            </label>

            <div class="image-preview">
              <div *ngIf="!isProfileUploaded">
                <img src="https://wizhob.com/upload/users/images/default.jpeg"
                  style="width: 100px; height: 100px; border-radius: 50%;" />
              </div>

              <div *ngIf="isProfileUploaded">
                <img [src]="previewUrl" style="width: 100px; height: 100px; border-radius: 50%;" />
              </div>
            </div>

            <strong *ngIf="editDetailForm.controls['image'].touched && editDetailForm.controls['image'].invalid"
              class="error-container">
              <span *ngIf="editDetailForm.controls['image'].errors.required" class="error-msg">This field is
                Mandatory.</span>
            </strong>
            <div class="field-group">
              <div class="field-active label"> Name </div>
              <input placeholder="Name*" class="floating-label1" formControlName="name" type="text" value="">
            </div>
            <strong *ngIf="editDetailForm.controls['name'].touched && editDetailForm.controls['name'].invalid"
              class="error-container">
              <span *ngIf="editDetailForm.controls['name'].errors.required" class="error-msg">This field is
                Mandatory.</span>
            </strong>
            <div class="field-group" style="margin-top: 20px;height:50px">
              <div class="field-active label"> DOB </div>
              <input placeholder="DOB*" class="floating-label1" matInput [matDatepicker]="picker"
                formControlName="dateofbirth">
              <mat-datepicker-toggle matSuffixs [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
            <strong *ngIf="editDetailForm.controls['dateofbirth'].touched && editDetailForm.controls['dateofbirth'].invalid"
              class="error-container">
              <span *ngIf="editDetailForm.controls['dateofbirth'].errors.required" class="error-msg">This field is
                Mandatory.</span>
            </strong>
            <div class="field-group" style="margin-top: 20px;">
              <div class="field-active label"> Email </div>
              <input placeholder="Email*" class="floating-label1" formControlName="email" type="email" value="">
            </div>
            <strong *ngIf="editDetailForm.controls['email'].touched && editDetailForm.controls['email'].invalid"
              class="error-container">
              <span *ngIf="editDetailForm.controls['email'].errors.required" class="error-msg">This field is
                Mandatory.</span>
            </strong>
            <div class="field-group" style="margin-top: 20px;">
              <div class="field-active label"> Location </div>
              <input placeholder="Preferred Location*" class="floating-label1" formControlName="location"
                type="text" value="">
            </div>
            <strong *ngIf="editDetailForm.controls['location'].touched && editDetailForm.controls['location'].invalid"
              class="error-container">
              <span *ngIf="editDetailForm.controls['location'].errors.required" class="error-msg">This field is
                Mandatory.</span>
            </strong>
            <div class="field-groups" style="margin-top: 20px;">
              <div>
                <mat-radio-group class="floating-label1" formControlName="gender">
                  <mat-radio-button class="gendermale" value="male">Male</mat-radio-button>
                  <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <strong *ngIf="editDetailForm.controls['gender'].touched && editDetailForm.controls['gender'].invalid"
              class="error-container">
              <span *ngIf="editDetailForm.controls['gender'].errors.required" class="error-msg">This field is
                Mandatory.</span>
            </strong>
          </div>
        <button type="submit" [disabled]="!editDetailForm.dirty && !editDetailForm.valid" class="btn btn-primary">Update</button>
        </div>
        
      </div>
    </form>
  </div>