.userBox{
    width: 300px;
    height: 250px;
    background-color:#fff;
    border: 1px solid black;
    float: right;
    margin-left: 80%;
}

.dropdownLi{
    height: 40px;
    width: auto;
}

.dropdown_styling_profile{
    background-color:green;
    padding-left: 50px;
    margin-left: 37%;
    padding: 10px;
    color: white;
}

.dropdown_styling_logout{
    background-color: red;
    padding-left: 50px;
    margin-left: 37%;
    padding: 10px;
    color: white;
    
}