<header>
  <nav class="navbar bg-custom navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="assets/img/wizhob-logo.png" height="40" alt="image">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3"
        aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav3">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#getTheApp"><i class="fas fa-mobile-alt"></i> Get the app <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/studio">Browse Studios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/membership">Membership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!isLogin" routerLink="/login">Login/Sign Up</a>
            <div *ngIf="isLogin">
              <!-- <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                  <img [src]="userProfileAddress"
                    style="height: 20px;width: 20px;margin-top: 5px;border-radius: 50%;" />
                  </button>
                <ul class="dropdown-menu userBox">
                  <li><img [src]="userProfileAddress"
                    style="height: 70px;width: 70px; margin: 10px 35% 10px;border-radius: 50%;" /></li>
                  <li class="dropdownLi"><a routerLink="/profile" class="btn flex signUpButton ">profile</a></li>
                  <li class="dropdownLi"><a routerLink="/" class="btn flex signUpButton btn-danger" (click)="logOut()">LogOut</a></li>
                </ul>
              </div> -->
            <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img [src]="userProfileAddress"
                    style="height: 20px;width: 20px;margin-top: 5px;border-radius: 50%;" /><span>{{usersrtname}}</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a routerLink="/profile" class="dropdown-item">profile</a>
    <a routerLink="/" class="dropdown-item" (click)="logOut()">LogOut</a>
  </div>
</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>