/* CSS for About Page  */


.aboutUsNavigator {
    color: #0f1f2e;
    font-weight: 700;
    font-size: .75em;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
    background-color: #f2f2f2;
}

.navigatorLink {
    text-decoration: none;
    color: #0f1f2e;
}

.aboutUsHeading {
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    background: white;
}

.aboutHeadingText {
    text-transform: uppercase;
    color: #0f1f2e;
    font-size: 2.625em;
    font-weight: 600;
}

.aboutHeadingGradient {
    width: 140px;
    height: 6px;
    margin-top: 10px;
    margin-bottom: 24px;
    border-radius: 5px;
    background-image: linear-gradient(92deg, #303395, #1b9dff);
}

.contentText {
    background: white;
    padding-bottom: 20px;
}

.contentText>span {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.contentText>span p {
    line-height: 1.38;
    margin-bottom: 10px;
    color: #0f1f2e;
}

@media screen and (max-width: 600px) {

    .aboutUsHeading {
        padding-top: 18px;
    }

    .contentText {
        padding-bottom: 12px;
    }

.aboutHeadingText {
    text-transform: uppercase;
    color: #0f1f2e;
    font-size: 1.125em;
}

    p {
        line-height: 1.38;
        margin-bottom: 10px;
        color: #0f1f2e;
        font-size: .8125em;
    }
    
    .aboutHeadingGradient {
        width: 60px;
        height: 3px;
        margin-top: 3px;
        margin-bottom: 20px;
        border-radius: 5px;
        background-image: linear-gradient(92deg,#303395,#1b9dff);
    }
    .contentText>span {
        padding-left: 16px;
        padding-right: 16px;
        text-align: justify;
    }

}
