<main>
        <div class="aboutUsNavigator">
            <a class="navigatorLink" routerLink=""> <!-- -->Home &gt;<!-- --> </a>
            <a class="navigatorLink" routerLink="/about"> <!-- -->About Us <!-- --> </a>
        </div>
        <div class="aboutUsHeading"><h1 class="aboutHeadingText">About Us</h1><div class="aboutHeadingGradient"></div></div>
        <div class="contentText flex"><span><p>FITPASS was introduced in 2015 when siblings Akshay and Arushi Verma realized that users didn’t want to or couldn’t pay yearly gym membership fees upfront. There was intent since everyone tried several fitness centers and local parks, but it wasn’t practical for long. It was then that a simple idea was worked upon – working out should work out.</p>
    
          <p>What started with a handful of gyms in Delhi is now offering fitness enthusiasts across India the flexibility to workout whenever, wherever, and however they please. We have successfully digitized the Fitness Industry and created an interconnected community of fitness centers and fitness enthusiasts.</p>
          
          <p>Our new age functions have transformed the fitness ecosystem. FITPASS is an alias for comprehensive fitness solutions. We are successfully removing friction and creating marketplace efficiencies through technology and bringing in the age of&nbsp;Fit-tech&nbsp;in India.</p>
          
          <p>&nbsp;</p>
          
          <p><strong>Our Mission</strong></p>
          
          <p>Inspire people to include fitness in their daily routine by creating a seamless network of gyms and fitness studios. Fitness is a basic of life that shouldn’t be expensive or inaccessible.</p>
          
          <p>&nbsp;</p>
          
          <p><strong>Our Vision&nbsp;</strong></p>
          
          <p>Economical, convenient, and non-restrictive fitness solutions to create a nexus of happy and healthy people.</p>
          
          <p>&nbsp;</p>
          
          <p><strong>USER Service</strong></p>
          
          <p>FITPASS’ dynamic programs make fitness fun and motivating. For years, we have been breaking barriers – prices, fixed schedules, and boring routines.</p>
          
          <p>&nbsp;</p>
          
          <p><strong>GYMs &amp; Fitness Studios&nbsp;</strong></p>
          
          <p>FITPASS helps fitness centers to achieve improved utility and increase revenue through our tech-enabled services. We streamline channels that serve business requirements, translating into cost savings with zero investment.&nbsp;</p>
          
          <p>&nbsp;</p>
          
          <p>FITPASS is where you start achieving your fitness goals!&nbsp;</p>
          
          <p><strong>#GetSetSweat&nbsp;</strong></p>
          </span></div>
       
      </main>