						
						<div id="__next">
						<div class="mainContainer">
						<div class="main"> 
						<div class="flex">
						<div class="plansContainer flex-2">
						<div class="productContainer">
						<h1 class="f6 c1 gothamBold">Complete Fitness Solutions</h1>
						<div class="buttonContainer flex">
						
						<div class="flex flex-1">
						<div *ngFor="let membersips of membershipArr">
						<div class="buttonStyle" [ngClass]="{'selectedButtonStyle': selectedItem == membersips.pass_type}" (click)="memberSelect(membersips.pass_id,membersips.pass_type)">{{membersips.pass_type}}</div>
						</div>
						</div>

						</div>
						</div>
						<div class="productContainer mt_12">
						<div class="heading flex">
						<div>
						<h2 class="heading_title">Choose Your Plan</h2>
						<div class="flex alignCenter mt_5">
						<div class="headingGradient"></div>
						<div class="headingLine"></div>
						</div>
						</div>
						</div>
						
						<div class="flex col">
						
						<div class="priceCardContainer flex flexWrap">
						<div *ngFor="let planship of planArr">
						<div class="card flex col">
						
						<div class="flex cardHeader" [ngClass]="{'selectedCardHeader': selectedPlan == planship.id}" (click)="planSelect(planship.id); getPlanbal(planship.pass_type_id,planship.id)">
						<div>
						<div>
						<div>{{currplan}}</div>
						<div class="underBar selectedUnderBar"></div>
						</div>
						<div class="priceCardDescription">{{planship.pass_info}}</div>
						</div>
						<div class="tickImageContainer flex">
						<span class="fa fa-check"></span>
						</div>
						</div>
						<div class="flex priceContainer ">
						<div class="f14">Price</div>
						<span class="f14"><strong class="c4 f20 gothamBold">₹{{planship.pass_price}}</strong>/{{planship.pass_duration}} Month</span>
						</div>
						</div>
						</div>



						</div>
						</div>
						</div>
						<div class="productContainer mt_12">
						<div class="heading flex"><div>
						<h2 class="heading_title">What is FITPASS?</h2>
						<div class="flex alignCenter mt_5">
						<div class="headingGradient"></div>
						<div class="headingLine"></div>
						</div>
						</div>
						</div>
						<div class="basicContainer">
						<div class="flex alignCenter basicFitpass">
						<div class="flex col center"></div>
						<span class="basicDescription false"><span>One membership to workout</span>
						</span>
						</div>
						<div class="flex alignCenter basicFitpass">
						<div class="flex col center">
						<span class="dot5"></span>
						</div>
						<span class="basicDescription ml_12">
						<span>Across 4,000+ gyms and fitness studios pan-India</span>
						</span>
						</div>
						<div class="flex alignCenter basicFitpass">
						<div class="flex col center">
						<span class="dot5">
						</span>
						</div>
						<span class="basicDescription ml_12">
						<span>Anywhere, anytime - near your home, office or friend’s house</span>
						</span>
						</div><div class="flex alignCenter basicFitpass">
						<div class="flex col center">
						<span class="dot5"></span>
						</div>
						<span class="basicDescription ml_12">
						<span>Yoga, Zumba Pilates, CrossFit, Kickboxing, Gym workout and many more</span>
						</span></div></div></div></div><div class="flex-1 mt_12">
						<div class="flex col flex-1">
						<div class="checkoutContainer">
						<div class="flex col flex-1">
						<div class="flex-1 orderDetailContainer"><div>
						<h2 class="heading_title">Order Details</h2>
						<div class="flex alignCenter mt_5">
						<div class="headingGradient"></div>
						<div class="headingLine"></div>
						</div></div>
						<div class="mb_10 mt_15">
						<h2 class="heading_title">{{sigbleOrderPlan}}</h2>
						<div class="flex spaceBetween">
						<span class="f8">{{sigbleOrderDuration}} Month  Membership</span>
						<strong class="c6">₹{{sigbleOrderPrice}}</strong> </div>
						</div>
						<div class="orderSeparator"></div>
						<div class="fitPrimeContainer">
						<div class="fitPrimeHead">
						<div class="bold" style="transform: skewX(20deg);">FITPRIME</div></div>
						<div class="flex mt_10">
						<div class="checkBox">
						<span class="fa fa-check"></span>
						</div>
						<span class="fitpriceDescription">
						<strong>₹499</strong>/year <br>(get <strong>7  days</strong> extra plus many additional benefits)</span>
						</div></div>
						<div class="flex coupanButtonContainer">
						<div class="flex-2" style="padding: 12px;">
						<input placeholder="Have a coupon cod/e?" type="text" value="" style="outline: none; border: none; width: 100%; font-size: 14px; font-family: Gotham;"></div>
						<div class="applyButton">APPLY</div></div>
						<div class="plansHeadingContainer flex">
						<span class="bold c1 gothamBold">Order Summary</span>
						<div class="orderSeparator flex-1"> </div></div>
						<div class="flex mt_12">
						<div class="priceDescription">Monthly Membership</div><div class="priceStyle"> ₹{{sigbleOrderPrice}}</div></div><div class="flex mt_12">
						<div class="priceDescription">FITPRIME</div><div class="priceStyle">₹499</div></div>
						<div class="flex mt_12"><div class="priceDescription">GST &amp; Applicable Charges</div><div class="priceStyle">₹419.44</div></div>
						<div class="flex mt_12"><div class="flex-1 f7 gothamBold c6">Payable Amount </div>
						<div class="gothamBold c12">₹1917.44</div></div></div><div class="flex bottomPriceContainer">
						<div class="flex justifyCenter bold mt_5 flex-1 c12" style="padding: 13px 16px;">₹ {{100+sigbleOrderPrice}}</div>
						<div class="flex c2 bold link alignCenter justifyCenter flex-1" style="letter-spacing: 2px; background-color: rgb(39, 214, 113); padding: 13px 0px;">PROCEED</div></div></div></div></div></div></div>
						