<main>

  <div class="flex mt_12 mb_15">
    <div class="desktop-view" style="flex: 1.5 1 0%;">
      <div class="alignCenter flex col videoContainer">
        <video width="100%" poster="assets/img/what-is-fitpass.png" controls="">
          <source src="assets/videos/video_01.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">Your browser does not support the video tag.</video>
      </div>
    </div>

    <div class="flex flex-1">
      <div class="relative flex-1 formContainer ">
        <form *ngIf="sendsms" [formGroup]="generateForm" (ngSubmit)="onSubmit()">
          <div class="headingContainer">
            <h1 class="headingTitle">Log In</h1>
            <div class="flex alignCenter underLineContainer">
              <div class="blueUnderline"></div>
              <div class="flex-1 grayheadingUnderline">
                <div class="error-invalid">{{error}}</div>
              </div>
            </div>
          </div>
          <span class="formDescription">You will receive a text to validate your number.</span>

          <div class="flex-1">
            <div class="">
              <div style="margin-top: 15px;">
                <div class="field-group">
                  <input class="floating-label1" placeholder="Mobile Number" formControlName="mobile" type="number"
                    value="">
                </div>
              </div>
              <strong *ngIf="generateForm.controls['mobile'].touched && generateForm.controls['mobile'].invalid"
                class="error-container">
                <span *ngIf="generateForm.controls['mobile'].errors.required" class="error-msg">This field is
                  Mandatory.</span>
              </strong>
            </div>
            <button type="submit" class="flex signUpButton">Request OTP</button>
          </div>
        </form>
        <form *ngIf="verifyotp" [formGroup]="verifyForm" (ngSubmit)="verfySubmit()">
          <div class="headingContainer">
            <h1 class="headingTitle">Log In</h1>
            <div class="flex alignCenter underLineContainer">
              <div class="blueUnderline"></div>
              <div class="flex-1 grayheadingUnderline">
                <div class="error-invalid">{{error}}</div>
              </div>
            </div>
          </div>
          <span class="formDescription">You will receive a text to validate your number.</span>
          <div class="flex-1">
            <div class="">
              <div style="margin-top: 15px;">
                <div class="field-group">
                  <div class="field-active label"> OTP </div>
                  <input placeholder="OTP" class="floating-label1" formControlName="otp" type="number" value="">
                </div>
              </div>
              <strong *ngIf="verifyForm.controls['otp'].touched && verifyForm.controls['otp'].invalid"
                class="error-container">
                <span *ngIf="verifyForm.controls['otp'].errors.required" class="error-msg">This field is
                  Mandatory.</span>
              </strong>
            </div>
            <button type="submit" class="flex signUpButton" (click)="ResendOtpFunc()">Request OTP</button>
            <button type="submit" class="flex signUpButton">Verify OTP</button>
          </div>
        </form>
        <form *ngIf="signup" [formGroup]="signupForm" (ngSubmit)="register()">
          <!-- <form [formGroup]="signupForm" (ngSubmit)="register()"> -->
          <div class="headingContainer">
            <h1 class="headingTitle">Details</h1>
            <div class="flex alignCenter underLineContainer">
              <div class="blueUnderline"></div>
              <div class="flex-1 grayheadingUnderline">
                <div class="error-invalid">{{error}}</div>
              </div>
            </div>
          </div>
          <span class="formDescription">Please enter your details.</span>
          <div class="flex-1">
            <div class="">
              <div style="margin-top: 15px;">

                <label style="margin-top:20px;" class="custom-file-input">
                  <img src="../../../../assets/img/pen.jpg"
                    style="margin-left:2px; width: 25px; height: 25px; border-radius: 60%;" />
                  <input formControlName="imageName" type="file" value="" style="display: none;"
                    (change)="onFileChange($event)">
                </label>

                <div class="image-preview">
                  <div *ngIf="!isProfileUploaded">
                    <img src="https://wizhob.com/upload/users/images/default.jpeg"
                      style="width: 100px; height: 100px; border-radius: 50%;" />
                  </div>

                  <div *ngIf="isProfileUploaded">
                    <img [src]="previewUrl" style="width: 100px; height: 100px; border-radius: 50%;" />
                  </div>

                </div>

                <strong *ngIf="signupForm.controls['imageName'].touched && signupForm.controls['imageName'].invalid"
                  class="error-container">
                  <span *ngIf="signupForm.controls['imageName'].errors.required" class="error-msg">This field is
                    Mandatory.</span>
                </strong>
                <div class="field-group">
                  <div class="field-active label"> Name </div>
                  <input placeholder="Name*" class="floating-label1" formControlName="name" type="text" value="">
                </div>
                <strong *ngIf="signupForm.controls['name'].touched && signupForm.controls['name'].invalid"
                  class="error-container">
                  <span *ngIf="signupForm.controls['name'].errors.required" class="error-msg">This field is
                    Mandatory.</span>
                </strong>
                <div class="field-group" style="margin-top: 20px;height:50px">
                  <div class="field-active label"> DOB </div>
                  <input placeholder="DOB*" class="floating-label1" matInput [matDatepicker]="picker"
                    formControlName="dateofbirth">
                  <mat-datepicker-toggle matSuffixs [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
                <strong *ngIf="signupForm.controls['dateofbirth'].touched && signupForm.controls['dateofbirth'].invalid"
                  class="error-container">
                  <span *ngIf="signupForm.controls['dateofbirth'].errors.required" class="error-msg">This field is
                    Mandatory.</span>
                </strong>
                <div class="field-group" style="margin-top: 20px;">
                  <div class="field-active label"> Email </div>
                  <input placeholder="Email*" class="floating-label1" formControlName="email" type="email" value="">
                </div>
                <strong *ngIf="signupForm.controls['email'].touched && signupForm.controls['email'].invalid"
                  class="error-container">
                  <span *ngIf="signupForm.controls['email'].errors.required" class="error-msg">This field is
                    Mandatory.</span>
                </strong>
                <div class="field-group" style="margin-top: 20px;">
                  <div class="field-active label"> Location </div>
                  <input placeholder="Preferred Location*" class="floating-label1" formControlName="location"
                    type="text" value="">
                </div>
                <strong *ngIf="signupForm.controls['location'].touched && signupForm.controls['location'].invalid"
                  class="error-container">
                  <span *ngIf="signupForm.controls['location'].errors.required" class="error-msg">This field is
                    Mandatory.</span>
                </strong>
                <div class="field-groups" style="margin-top: 20px;">
                  <div>
                    <mat-radio-group class="floating-label1" formControlName="gender">
                      <mat-radio-button class="gendermale" value="male">Male</mat-radio-button>
                      <mat-radio-button value="female">Female</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <strong *ngIf="signupForm.controls['gender'].touched && signupForm.controls['gender'].invalid"
                  class="error-container">
                  <span *ngIf="signupForm.controls['gender'].errors.required" class="error-msg">This field is
                    Mandatory.</span>
                </strong>
              </div>
            </div>
            <button type="submit" class="flex signUpButton">Sigh Up</button>
          </div>
        </form>
        <div *ngIf="signup" style="margin-top: 10px;">
          <hr style="border-top: 1px solid #eee;margin-top: 20px;">
          <div class="row">
            <div class="col-6">
              <button (click)="signInWithSocialAcc('Facebook')" class="btn btn-danger">
                Login with Facebook
              </button>
            </div>
            <div class="col-6 text-right">
              <button (click)="signInWithSocialAcc('google')" class="btn btn-primary">
                Login with Google
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>