main {
    height: 100%;
    width: 100%;
    min-width: 1040px;
    overflow: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    background-color: #f9f9f9;
}

.headingTitle {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
}

.formDescription {
    font-size: .875em;
    color: #0f1f2e;
    line-height: 1.43;
    display: inline-block;
}

.field-group {
    position: relative;
    border: 2px solid #3b99fc;
    padding: 14px;
    display: flex;
    background: #fff;
    align-items: center;
    border-radius: 4px;
}

.error-msg{
    color: rgb(139, 64, 64);
}

.error-invalid{
    color: rgb(139, 64, 64);
}

@media only screen and (max-width: 767px) {
    main {
        min-width: 100%;
    }
}

.image-preview{
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 35% 0;
    margin-top: -37px;;
    margin-bottom: 10px; 

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.custom-file-input {
    opacity: 50;
    border-radius: 50%;
    border:1px solid black ;
    width: 30px;
    height: 30px;
    margin-left: 50%;
    z-index:2;
  }
  .custom-file-input::before {
    display: inline-block;
    cursor: pointer;
  }

  .gendermale{
      padding-right: 20px;;
  }
