@media screen and (min-width: 1200px) {}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (min-width: 600px) {

    .main {
        height: 100vh;
        width: 100%;
        justify-content: center;
        position: relative;
        background: #1a1459;
    }


    .contentContainer {
        color: white;
        position: absolute;
        display: flex;
        line-height: 1.2;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
    }

    .innerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner_image {
        width: 100%;
    }

    .showMobile {
        display: none;
    }

    .fitpassLogo {
        height: 120px;
        margin-bottom: 20px;
    }

    .headerFont {
        font-size: 2em;
    }

    .bankFont {
        font-size: 2.75em;
        margin-top: 15px;
        margin-bottom: 40px;
    }

    .bankName {
        color: #f0b529;
        font-weight: bold;
    }

    .inputButton {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 0px 15px;
        font-size: 1.25em;
        outline: none;
        width: 300px;
        margin: 0px;
        border: none;
    }

    .proceedDesktopButton {
        color: white;
        font-size: 1.875em;
        background: #05ce55;
        padding: 18px 25px;
        cursor: pointer;
        font-weight: bold;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 28px;
    }

}

@media screen and (max-width: 500px) {

    body,
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        font-size: 16px;
        overflow-x: hidden;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -o-user-select: none;
    }

    .c1 {
        color: #0f1f2e;
    }

    .f1 {
        font-size: 1.5625em;
        color: #0f1f2e;
    }

    .f3 {
        font-size: 1em;
    }

    .c2 {
        color: #fff;
    }

    .f10 {
        font-size: .625em;
    }

    .f6 {
        font-size: 1em;
    }

    .workoutScroller {
        overflow-x: auto;
        padding-left: 2px;
    }

    .workoutContainer {
        margin-top: 16px;
        overflow-x: visible;
        padding-bottom: 7px;
    }

    .workoutImageContaier {
        margin-right: 10px;
        min-width: 80px;
        background: #e8f3ff;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 1px 4px 0 grey;
    }

    .workoutImage {
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .workoutName {
        background: #e8f3ff;
        color: #0f1f2e;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .studioNearYouButton {
        padding: 10px 10px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        text-decoration: none;
        border-radius: 4px;
        border: solid 1px #0f1f2e;
    }

    .benefitContentStyle {
        flex-direction: column;
        margin-top: 0;
    }

    .flex_wrapper1 {
        padding-top: 24px;
        background-color: #fff;
        padding-bottom: 24px;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
    }

    .flex_wrapper2 {
        padding: 24px 16px;
        background-size: contain !important;
        background-color: #f9f9f9 !important;
        background-position: -235px -28px !important;
    }

    .flex_wrapper3 {
        padding-top: 24px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        padding-bottom: 24px;
        background-color: #fff;
    }

    .vedioContenContainer {
        width: 100%;
        border-radius: 4px;
        margin: 0 !important;
    }

    .benefitContainer {
        margin-bottom: 20px;
        padding: 0;

    }

    .benefitImage {
        height: 24px;
        width: 24px;
    }

    .benefitsContainer {
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 22px;
        padding: 0;
    }

    .heading {
        text-align: center;
        font-size: 1.125em;
        line-height: 1.25;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-shadow: 1px 0 0 currentColor;
    }

    .vedioHeader {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        text-align: center;
        position: relative;
    }

    .bgPrimary {
        background-color: #2e276e;
    }

    .workoutImageContaier {
        margin-right: 10px;
        min-width: 80px;
        background: #e8f3ff;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 1px 4px 0 grey;
    }

    .workoutImage {
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .workoutName {
        background: #e8f3ff;
        color: #0f1f2e;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .f4 {
        font-size: .875em;
    }

    .f11 {
        font-size: .5625em;
    }

    .f5 {
        font-size: 1.25em;
    }

    .f6 {
        font-size: 1em;
    }


    video {
        width: 100%;
        outline: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .24);
    }

    .gradientUnderLine {
        width: 70px;
        margin-top: 10px;
        height: 3px;
        align-self: center;
        border-radius: 2px;
        background-image: linear-gradient(94deg, #303395, #1b9dff);
    }

    .flex_wrapper6_bg {
        background: transparent !important;
    }

    .benefitDescription {
        line-height: 1.25;
        font-size: .75em;
        color: #0f1f2e;
        margin-top: 5px;
    }

    .benefitImage {
        height: 24px;
        width: 24px;
    }

    .benefitHeading {
        color: #0f1f2e;
        font-size: .875em;
        font-weight: 700;
        line-height: 1.3;
    }

    .benefitGradient {
        width: 26px;
        margin-top: 6px;
        height: 2px;
        background-color: #f4344c;
    }


    .benifitsFooterData {
        margin-top: 0px;
    }

    .benefitFooterGradient {
        width: 26px;
        margin-top: 6px;
        height: 2px;
        background-color: #2874f0;
    }

    .heading {
        text-align: center;
        font-size: 1.125em;
        line-height: 1.25;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-shadow: 1px 0 0 currentColor;
    }

    .locationDiv {
        width: 30%;
    }

    #getTheApp {
        display: none;
    }

    .appStoreImage {
        height: 30px;
        margin-top: 8px;
    }

    .mobile-view {
        display: block;
    }

    .desktop-view {
        display: none;
    }

    .rightIcon {
        height: 14px;
        width: 14px;
        margin-left: 10px;
    }

    .flex_wrapper3 {
        padding-top: 24px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        padding-bottom: 24px;
        background-color: #fff;
    }

    .flex_wrapper6 {
        padding-top: 24px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        background: #fff;
    }

    .flex_wrapper7 {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        background-color: #fff;
    }

    .getTheAppContainer {
        padding-left: 16px;
        padding-right: 16px;
    }

    .getTheAppImage {
        height: 210px;
        margin-top: 15px;
    }

    .mob-column {
        flex-direction: column;
    }

    .flex_wrapper8 {
        padding-top: 24px;
        padding-bottom: 20px;
    }

    .mediaContainer {
        overflow: auto;
        margin-top: 12px;
        width: 100%;
        padding-bottom: 30px;
    }

    .slick-track {
        display: flex !important;
        align-items: center;
    }

    .dietitianViewMore {
        padding: 10px 10px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        text-decoration: none;
        border-radius: 4px;
        border: solid 1px #0f1f2e;
    }

    .subContainer {
        padding-bottom: 22px;
        padding-top: 22px;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
        background-repeat: no-repeat, no-repeat;
        background-position: -100px, 280px;
    }

    .location {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-bottom: 18px;
        min-width: auto;
    }


    .flex_wrapper5 {
        padding-top: 24px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        background: #fff;
    }



    .footerTitle {
        opacity: .6 !important;
        font-size: .75em;
        font-weight: 700;
        line-height: normal;
        letter-spacing: normal;
        color: #fff !important;
    }


    .productContainer {
        padding-top: 12px;
        padding-bottom: 16px;
        padding-left: 16px;
        background: transparent;
        justify-content: space-between;
    }

    .productTile {
        padding: 8px 22px;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        font-size: .75em;
        background-color: #48545f;
    }

    .footerSeparator {
        height: 1px;
        opacity: .6;
        background-color: rgba(216,216,216,.6);
    }

    .formContainer {
        margin-left: 0;
        padding: 16px;
    }

    .grayfooterContainer {
        background: #48545f;
        margin-top: 15px;
        padding: 10px;
        align-items: center;
        border-radius: 4px;
        color: #fff;
    }

    .footerDropDown {
        padding-top: 15px;
        position: relative;
        padding-bottom: 6px;
    }

    .footerTitle {
        opacity: .6 !important;
        font-size: .75em;
        font-weight: 700;
        line-height: normal;
        letter-spacing: normal;
        color: #fff !important;
    }

    .coyprightText {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: .625em;
        color: #fff;
        background: #0f1f2e;
    }

    .socialImage {
        font-size: 24px;
        color: #fff;
        margin-right: 10px;
    }

    

    .footer {
        padding: 16px;
        vertical-align: bottom;
        background-color: #0f1f2e;
    }

    footer {
        margin-top: auto;
    }


}