@font-face {
    font-family: 'gothambook';
    src: url('../fonts/gothambook-webfont.eot');
    src: url('../fonts/gothambook-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gothambook-webfont.woff2') format('woff2'),
        url('../fonts/gothambook-webfont.woff') format('woff'),
        url('../fonts/gothambook-webfont.ttf') format('truetype'),
        url('../fonts/gothambook-webfont.svg#gothambook') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'gothambook';
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

main {
    background-color: #f9f9f9;
}

a:hover {
    text-decoration: none;
}

.gradientUnderLine {
    width: 140px;
    margin-top: 10px;
    height: 6px;
    align-self: center;
    border-radius: 5px;
    background-image: linear-gradient(94deg, #303395, #1b9dff);
}

.benefitGradient {
    width: 52px;
    margin-top: 6px;
    height: 3px;
    background-color: #f4344c;
}

.benefitFooterGradient {
    width: 52px;
    margin-top: 6px;
    height: 3px;
    background-color: #2874f0;
}

.flex {
    display: flex;
}

.flex-0 {
    flex: 0;
}

.flex1 {
    flex: 1;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-auto {
    flex: auto;
}

.alignStart {
    align-items: flex-start;
}

.flexWrap {
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}

.f1 {
    font-size: 3em;
}

.f2 {
    font-size: 2.625em;
}

.f3 {
    font-size: 1.75em;
}

.f4 {
    font-size: 1.5em;
}

.f6 {
    font-size: 1em;
}

.f7 {
    font-size: .875em;
}

.f8 {
    font-size: .75em;
}

.f10 {
    font-size: .625em;
}

.f14 {
    font-size: .875em;
}

.f20 {
    font-size: 1.25em;
}

.c1 {
    color: #0f1f2e;
}

.c2 {
    color: #fff;
}

.c4 {
    color: #de4871;
}

.c5 {
    color: #9b9b9b;
}

.c6 {
    color: #302c57;
}

.c12 {
    color: #34b575;
}

.bgPrimary {
    background-color: #2e276e;
}

.mt_40 {
    margin-top: 40px;
}

.ml_60 {
    margin-left: 60px;
}

.ml_15 {
    margin-left: 15px;
}

.ml_10 {
    margin-left: 10px;
}

.ml_5 {
    margin-left: 5px;
}

.mt_10 {
    margin-top: 10px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mt_15 {
    margin-top: 15px;
}

.mb_15 {
    margin-bottom: 15px;
}

.mt_18 {
    margin-top: 18px;
}

.mt_12 {
    margin-top: 12px;
}

.pl_125 {
    padding-left: 125px;
}

.pr_16 {
    padding-right: 16px;
}

.pl_16 {
    padding-left: 16px;
}

video {
    width: 100%;
    outline: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .24);
}

.heading {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px, 1px 0, 1px 1px;
    margin: 0;
    font-weight: 600;
}

.location {
    align-items: center;
    display: flex;
    min-width: 250px;
    text-decoration: none;
    max-width: 250px;
    margin-bottom: 20px;
}

.center {
    align-items: center;
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

.relative {
    position: relative;
}

.flexWrap {
    flex-wrap: wrap;
}

span {
    display: inline-block;
}

.justifyCenter {
    justify-content: center;
}

.bold {
    font-weight: 700;
}

.fas {
    margin-left: 5px;
    color: #fbb041;
}

.flex-row {
    flex-direction: row;
}

.flex-1_5 {
    flex: 1.5;
}



.lh_1_3 {
    line-height: 1.3;
}

.lh_1_5 {
    line-height: 1.5;
}

.ml_32 {
    margin-left: 32px;
}

.mb_48 {
    margin-bottom: 48px;
}

.mb_20 {
    margin-bottom: 20px;
}

.f20 {
    font-size: 1.25em;
}

.pb_16 {
    padding-bottom: 16px;
}

.pt_16 {
    padding-top: 16px;
}

.mb_20 {
    margin-bottom: 20px;
}

.bgWhite {
    background-color: #fff;
}

.mt_20 {
    margin-top: 20px;
}

.spaceBetween {
    justify-content: space-between;
}

.lh_1_3 {
    line-height: 1.3;
}

.extraBold {
    text-shadow: 0 1px, 1px 0, 1px 1px;
}

.spaceAround {
    justify-content: space-around;
}


#expandedView {
    display: none;
}


/* End CSS default */

nav.bg-custom {
    background-color: #0c1b3b;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}


#header .brand {
    margin: 10px 0;
    transition: all 0.3s linear;
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 1em;
    margin-right: 28px;
    -webkit-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.navbar-nav .nav-item .nav-link i.fas {
    color: #fbb041;
}

.navbar-nav .dropdown {
    position: relative;
}

/*.navbar-nav .dropdown-item {
    display: inline-block;
    padding: 10px 10px;
    white-space: inherit;
    width: auto;
    color: #fff;
    background: transparent;
    font-size: 100%;
}*/


.navbar-nav .dropdown-item:hover {
    background: #0C1B3B;
    color: #fff;
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
    background: #831111;
    min-width: auto;
    top: 97%;
    width: calc(100% - 71px);
    left: 55px;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

nav.navbar {
    padding: 10px 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16);
}

.navbar-nav .search_link.nav-item.dropdown .dropdown-menu {
    width: 300px;
    left: auto;
    right: 0;
    padding: 10px 10px;
    background: #831111;
    margin: 0;
    border: 0;
}

.flex_wrapper1 {
    display: flex;
    padding-bottom: 60px;
    padding-left: 44px;
    background: #fff;
}

.flex_wrapper2 {
    padding-top: 60px;
    padding-bottom: 40px;
    background-size: contain !important;
    background-color: #f9f9f9 !important;
    background-position: -314px -208px !important;
    background-image: url(../img/half_circle_left.png);
    background-repeat: no-repeat;
}

.flex_wrapper3 {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 40px;
    background-color: #fff;
}

.flex_wrapper4 {
    background-color: #f9f9f9;
}

.flex_wrapper5 {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fff;
    background-image: url(../img/half_circle_right.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 38% 100%;
}

.flex_wrapper6 {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fff;
}

.flex_wrapper6_bg {
    background-image: url("https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/half_circle_left_ bg copy.png"), url("https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/nutritionist_img.png");
    background-color: transparent;
    background-size: contain, 32% !important;
    background-position: -350px 0, top right !important;
    background-repeat: no-repeat, no-repeat;
}

.flex_wrapper7 {
    padding-top: 90px;
    padding-bottom: 80px;
    margin: auto;
    max-width: 1140px;
    background-color: #fff;
}

.flex_wrapper8 {
    padding-top: 60px;
    padding-bottom: 38px;
}

.flex_wrapper9 {
    background-color: #fff;
    padding-top: 60px;
    overflow: hidden;
    padding-bottom: 18px;
    margin-bottom: 12px;
}


.fitpassContent {
    padding-top: 60px;
}

.fitpassContent h1 {
    text-shadow: 0 1px, 1px 0, 1px 1px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.workoutContainer {
    margin-top: 32px;
}

.workoutImageContaier {
    margin-right: 12px;
    border-radius: 4px;
    flex: 1;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .3);
    padding: 0;
}

/* .workoutImageContaier>img {
    width: 100%;
} */

.workoutName {
    background: #e8f3ff;
    color: #0f1f2e;
    padding-top: 12px;
    padding-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: .75em;
    font-weight: 700;
}

.manyText {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 18px;
}

.studioNearYouButton {
    padding: 13px 16px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
    text-decoration: none;
    border-radius: 4px;
    border: solid 1px #0f1f2e;
}

.studioNearYouButton:hover {
    background: transparent;
    transition: 0.5s ease-in-out all;
    color: #0f1f2e;
    border: 1px solid #0f1f2e;
    font-weight: 500;
}

.dietitianViewMore {
    padding: 13px 16px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    bottom: 0;
    border-radius: 4px;
    border: solid 1px #0f1f2e;
}

.dietitianViewMore:hover {
    color: #fff;
    transition: 0.5s ease-in-out all;
    background: #0f1f2e;
}

.video_wrapper {
    background-image: url(../img/half_circle_right.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top right;
}

.vedioContainer {
    position: relative;
    padding-left: 25px;
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.vedioContenContainer {
    border-radius: 4px;
    margin: auto;
    margin-right: 20px;
    background: #fff;
}

.vedioHeader {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    text-align: center;
    position: relative;
    align-self: stretch;
    color: #fff;
}

.mobile-view {
    display: none;
}

.coyprightText {
    display: none;
}

.benefitContentStyle {
    min-height: 440px;
    align-items: flex-start;
}

.benefitsContainer {
    padding-left: 50px;
    align-items: flex-start;
    position: relative;
    align-self: center;
    padding-right: 25px;
}

.benefitContainer {
    padding-right: 20px;
    align-items: center;
    margin-bottom: 24px;
}

.benefitHeading {
    color: #0f1f2e;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.3;
}

.benefitDescription {
    line-height: 1.25;
    color: #0f1f2e;
    margin-top: 5px;
}

.benifitsFooterData {
    /* padding-left: 40px; */
    margin-top: 48px;
    /* padding-right: 40px; */
}

.benefitFooterContainer {
    padding-right: 20px;
    flex: 1;
}

.locationText {
    margin-left: 16px;
    border-bottom: 1px solid #d3d3d3;
}

.subContainer {
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    background-image: url("https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/circle_half_left_2.png"), url("https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/circle_half_right_2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
}

.fitCoachImage {
    position: absolute;
    left: 40px;
    height: 250px;
}

.nutritionText {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5;
}

.getTheAppContainer {
    flex: .6;
    text-align: left;
    padding-left: 60px;
}

.formStyle {
    align-items: center;
    border-radius: 4px;
    border: solid 1px #2e276e;
}

.inputStyle {
    border: 0;
    outline: 0;
    flex: 1;
    border-radius: 4px;
    margin: 0;
    padding: 0 10px;
}


.mediaContainer {
    width: 95%;
    align-self: center;
    max-height: 300px;
    /* overflow: auto; */
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    margin-top: 40px;
}

.mediaContentContainer {
    justify-content: flex-start;
    text-align: left;
    padding: 20px;
    margin-right: 15px;
    background: #fff;
    border-radius: 15px;
    cursor: grab;
}

.mediaContent {
    width: "100%";
    margin-left: 20px;
    padding-bottom: 10px;
    padding-right: 50px;
    border-bottom: 1px solid #979797;
}

.scrollBottom {
    width: 48px;
    height: 48px;
    margin: auto;
    border-radius: 24px;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(186, 186, 186, .16), 0 4px 8px 0 rgba(190, 190, 190, .5);
    border: solid 1px #f6f6f6;
    background-color: #fff;
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}

.rotatel180 {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: transform .5s ease-in-out;
}

.roatateBack {
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transition: transform .5s ease-in-out;
}


.reviewCardContainer {
    margin-top: 42px;
    padding-bottom: 20px;
    overflow: auto;
    padding-top: 12;
    padding-bottom: 12;
    align-items: center;
}

.card {
    min-width: 450px;
    width: 450px;
    text-align: left;
    overflow: hidden;
    margin-right: 22px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .24);
    border-style: solid;
    border-width: 1px;
    border-color: #ff7577;
    padding: 24px 28px;
    min-height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatarContainer {
    margin-top: 16px;
    align-items: center;
}

.reviewAvatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.starYellow {
    color: #f5a623;
}

.ml_48 {
    margin-left: 48px;
}


/* animated fadeInDown */

.animated {
    /* -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation: mymove 3s infinite; */
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}


.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {


    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }

}



/***** CSS for Footer ******/

footer {
    margin-top: auto;
    vertical-align: bottom;
}

.footer {
    padding: 10px;
    background-color: #0f1f2e;
}

.navigateFooter {
    padding: 25px 100px;
    background-color: #0f1f2e;
}

.footerHeading {
    flex: 1;
    opacity: .48;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.footerLinkContainer {
    flex: 1;
    margin-top: 12px;
    padding: 0;
}

.footerLinkContainer>ul {
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none;
}

li {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 5px;
}

.footerlink {
    font-size: 14px;
    color: #fff;
    line-height: 1.86;
    text-decoration: none;
}

.footerSeparator {
    opacity: .8;
    background-color: #0f1f2e;
    height: 1px;
}

.footerLogo {
    margin-left: 50px;
    height: 24px;
}

.copyRightText {
    color: #fff;
    font-size: 14px;
}


.plansContainer {
    margin: 12px;
}

.productContainer {
    background: #fff;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 16px;
    padding-bottom: 15px;
}

.buttonContainer {
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.priceCardContainer .card_pricing {
    margin-right: 16px;
    margin-top: 18px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16);
    border-radius: 4px;
    width: 100%;
    max-width: 320px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0;
}

.priceCardDescription {
    padding-top: 10px;
    font-size: .75em;
    font-weight: 400;
    text-transform: none;
}

.cardHeader {
    justify-content: space-between;
    flex: 1;
    background-color: #f2f2f2;
    color: #0f1f2e;
    font-weight: 700;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}


.priceContainer {
    padding: 12px 20px;
    justify-content: space-between;
    background: #fff;
    text-transform: none;
}


.buttonStyle {
    min-width: 100px;
    padding: 15px 25px;
    display: flex;
    font-size: 1em;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #9b9b9b;
    margin-right: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border: solid 1px #9b9b9b;
    font-weight: 700;
    cursor: pointer;
}

.selectedButtonStyle {
    background-color: #2874f0;
    color: #fff;
}

.heading_title {
    font-size: 1em;
    /* font-weight: 700; */
    line-height: 1.44;
    letter-spacing: normal;
    color: #0f1f2e;
    font-family: "gothambook";
}


.headingGradient {
    width: 35px;
    height: 4px;
    border-radius: 2.5px;
    background-image: linear-gradient(96deg, #303395, #1b9dff);
}

.headingLine {
    flex: 1;
    height: 2px;
    background-color: #e3e3e3;
}

.selectedCardHeader {
    background-color: #2874f0;
    color: #fff;
}

.tickImageContainer {
    height: 22px;
    position: absolute;
    right: 16px;
    background: #fff;
    width: 22px;
    border: solid 1px #27d671;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #27d671;
}

.basicContainer {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
}

.basicFitpass {
    margin-bottom: 12px;
}



.checkoutContainer {
    background: #fff;
    display: flex;
    position: -webkit-sticky;
    height: 88vh;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);
    position: sticky;
    top: 65px;
}

.underBar {
    width: 31px;
    height: 2px;
    margin-top: 5px;
    background-color: #9b9b9b;
    border-radius: 2px;
}

.selectedUnderBar {
    background-color: rgba(255, 255, 255, .48);
}

.dot5 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #000;
}

.basicDescription {
    font-size: .875em;
}

.basicFitpass {
    margin-bottom: 12px;
}


.orderDetailContainer {
    padding: 20px;
}

.spaceBetween {
    justify-content: space-between;
}

.orderSeparator {
    height: 1px;
    background-color: #e3e3e3;
}

.fitPrimeContainer {
    padding: 12px;
    margin-top: 20px;
    position: relative;
    border-radius: 4px;
    border: solid 1px #f54ea2;
    background-color: #fff;
}

.fitPrimeHead {
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(-20deg);
    position: absolute;
    top: -12px;
    left: 15px;
    background-color: #f54ea2;
    color: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: .875em;
    width: auto;
    letter-spacing: .9px;
}

.fitpriceDescription {
    font-size: .875em;
    color: #302c57;
    margin-left: 15px;
    font-weight: 400;
}

.checkBox {
    height: 20px;
    width: 20px;
    max-height: 20px;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: solid 1px #27d671;
    color: #27d671;
}

.coupanButtonContainer {
    border-radius: 6px;
    overflow: hidden;
    margin-top: 15px;
    border: 1px solid #d3d3d3;
}

.applyButton {
    background-color: #2874f0;
    font-size: .875em;
    letter-spacing: 2.3px;
    color: #fff;
    display: flex;
    flex: 1;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.plansHeadingContainer {
    align-items: center;
    font-weight: 400;
    margin-top: 16px;
}

.orderSeparator {
    height: 1px;
    background-color: #e3e3e3;
}

.priceDescription {
    color: #302c57;
    flex: 1;
    font-size: 14px;
}

.priceStyle {
    font-weight: 700;
    color: #302c57;
}

.bottomPriceContainer {
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .16);
}

.formContainer {
    padding: 30px;
    background-color: #fff;
    margin-left: 12px;
    position: relative;
}

.formDescription {
    font-size: .875em;
    color: #0f1f2e;
    line-height: 1.43;
    display: inline-block;
}

.signUpButton {
    cursor: pointer;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #2874f0;
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    margin-top: 20px;
    width: 100%;
}

.field-group {
    position: relative;
    border: 2px solid #3b99fc;
    padding: 14px;
    display: flex;
    background: #fff;
    align-items: center;
    border-radius: 4px;
}

.field-group .label {
    display: inline-block;
    position: absolute;
    font-size: .875em;
    transition: all 150ms ease-in;
    color: #676767;
}

.floating-label1 {
    -webkit-appearance: none !important;
    border: 0;
    outline: 0;
    font-size: 18px;
    width: 100%;
    color: #0f1f2e;
    font-weight: 500;
    padding: 0;
}

::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: 400;
  }

.label.field-active {
    transform: translateY(-25px);
    font-size: .75em;
    font-weight: 700;
    letter-spacing: 2px;
    color: #3b99fc;
    background: #fff;
    padding: 4px 14px;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
}

.grayheadingUnderline {
    border: solid 1px #e3e3e3;
}

.blueUnderline {
    width: 36.3px;
    height: 4.2px;
    border-radius: 2.5px;
    background-image: linear-gradient(96deg, #303395, #1b9dff);
}

.underLineContainer {
    margin-top: 6px;
    margin-bottom: 10px;
}

.headingTitle {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
}


/* CSS for sweatiquette-faq page */

.contentContainer {
    background: #fff;
}

.navigatorLink {
    text-decoration: none;
    color: #0f1f2e;
}

.swetiquetterContainer {
    width: 1024px;
    margin: auto;
}

.question {
    font-weight: 700;
    font-size: 1em;
    margin-top: 20px;
}

.answer {
    margin-top: 8px;
    font-size: 1em;
}