/* CSS for Contact page */

main {
    height: 100%;
    width: 100%;
    min-width: 1040px;
    overflow: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    background-color: #f9f9f9;
}

.contactUsContent {
    display: flex;
    line-height: 1.5;
    flex-direction: column;
    align-items: center;
    background: white;
}

.contactText {
    margin: 0;
}

.textCenter {
    text-align: center;
}

.aboutUsHeading {
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    background: white;

}

.aboutHeadingText {
    text-transform: uppercase;
    color: #0f1f2e;
    font-size: 2.625em;
    font-weight: bold;
}

.aboutHeadingGradient {
    width: 140px;
    height: 6px;
    margin-top: 10px;
    margin-bottom: 24px;
    border-radius: 5px;
    background-image: linear-gradient(92deg, #303395, #1b9dff);
}

@media screen and (max-width: 600px){
    main {
        min-width: 100%;
    }

    .aboutUsHeading {
        padding-top: 18px;
    }

    .aboutHeadingText {
        text-transform: uppercase;
        color: #0f1f2e;
        font-size: 1.825em;
    }

    .aboutHeadingGradient {
        width: 60px;
        height: 3px;
        margin-top: 3px;
        margin-bottom: 20px;
        border-radius: 5px;
        background-image: linear-gradient(92deg,#303395,#1b9dff);
    }

    .contactUsContent {
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
    }


}