<main>
        <div class="flex col p-0" style="min-height:100%">
          <div class="aboutUsHeading">
            <h1 class="aboutHeadingText">Contact Us</h1>
            <div class="aboutHeadingGradient"></div>
          </div>
          <div class="contactUsContent flex-1">
            <span class="f4 mb_10 font-weight-bold">We are always there for you!</span>
            <div class="flex col p-0">
              <span class="f7 flex font-weight-bold justifyCenter"> Phone:&nbsp;
                <p class="contactText">011-46061468 </p>
              </span>
              <span class="f7 flex font-weight-bold justifyCenter"> Email:&nbsp;<p class="contactText">care@fitpass.co.in</p></span>
            </div>
            <span class="f7 mb_10">Want to reach us old style ? Here is our postal address</span>
            <span class="f7 font-weight-bold">2E/8, Third Floor, Jhandewalan Extension<br></span>
            <span class="f7 mb_10 font-weight-bold">Jhandewalan, New Delhi-110055, India</span>
            <br><br><br>
          </div>
        </div>
    
      </main>