<main>
        <div class="bgWhite"><img class="teamBanner"
            src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team_photo.png">
          <h1 class="teamHeading">MEET OUR TEAM</h1>
          <div class="teamHeadingGradient"></div>
          <p class="teamDescription">FITPASS is a team of dynamic individuals from all walks of life with a common passion
            for fitness. Graduates and working professionals from the finest institutes and organizations have come together
            to revolutionize the fitness industry by making working out work out for everyone.</p><span
            class="getSetSweatText">GET. SET. SWEAT</span>
          <div class="teamCardContainer justifyCenter">
            <div class="founderCard ">
              <div class="avatarContainer">
                <div class="flex alignCenter justifyCenter"
                  style="height:160px;width:160px;min-width:160px;max-height:160px;max-width:160px;min-height:160px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e;margin-right:55px">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="32" width="32" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/management/akshay_verma.png">
                </div>
              </div>
              <div class="founderContent"><span class="founderName">Akshay Verma</span><span
                  class="founderDesignation">Co-founder &amp; Director</span><span class="founderQualifications">UBS |
                  Columbia | Oxford | University of Delhi</span></div>
            </div>
            <div class="founderCard ml_32">
              <div class="avatarContainer">
                <div class="flex alignCenter justifyCenter"
                  style="height:160px;width:160px;min-width:160px;max-height:160px;max-width:160px;min-height:160px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e;margin-right:55px">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="32" width="32" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/management/arushi_verma.png">
                </div>
              </div>
              <div class="founderContent"><span class="founderName">Arushi Verma</span><span
                  class="founderDesignation">Co-founder &amp; Director</span><span class="founderQualifications">World Bank
                  | ASER Centre | SOAS | University of Delhi</span></div>
            </div>
          </div>
          <div class="teamCardContainer">
            <div class="teamCardContainerHeading">Customer Success &amp; Sales</div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/customer_service_ sales/swati_gupta.png">
                </div><span class="teamCardName">Swati Gupta</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/customer_service_ sales/kajal_uttreja.png">
                </div><span class="teamCardName">Kajal Utreja</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/customer_service_ sales/khusboo_singh.png">
                </div><span class="teamCardName">Khusboo Singh</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/customer_service_ sales/manisha_chauhan.png">
                </div><span class="teamCardName">Manisha Chauhan</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/customer_service_ sales/yogesh_kumar.png">
                </div><span class="teamCardName">Yogesh Kumar</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/customer_service_ sales/junaid_bazaz.png">
                </div><span class="teamCardName">Junaid Bazaz</span>
              </div>
            </div>
            <div class="teamCard mt_15">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/customer_service_ sales/ajay_dhoundiyal.png">
                </div><span class="teamCardName">Ajay Dhoundiyal</span>
              </div>
            </div>
            <div class="teamCard mt_15">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/customer_service_ sales/shivam_prateek.png">
                </div><span class="teamCardName">Shivam Prateek</span>
              </div>
            </div>
            <div class="teamCard mt_15">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/customer_service_ sales/mayank_gupta.png">
                </div><span class="teamCardName">Mayank Gupta</span>
              </div>
            </div>
            <div class="teamCard mt_15">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/customer_service_ sales/mehar_rajput.png">
                </div><span class="teamCardName">Mehar Rajput</span>
              </div>
            </div>
          </div>
          <div class="teamCardContainer">
            <div class="teamCardContainerHeading">Partner Management</div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/partner_service/abhishek_pal.png">
                </div><span class="teamCardName">Abhishek Pal</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/partner_service/nagendra_pareek.png">
                </div><span class="teamCardName">Nagendra Pareek</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/avtar_male_ic@2x.png"></div><span
                  class="teamCardName">Ankit Verma</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/partner_service/kamal_bhatt.png">
                </div><span class="teamCardName">Kamal Bhatt</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/partner_service/mukesh_bhardwaj.png">
                </div><span class="teamCardName">Mukesh Bhardwaj</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/partner_service/vishal_mansa.png">
                </div><span class="teamCardName">Vishal Mansa</span>
              </div>
            </div>
            <div class="teamCard mt_15">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/avtar_male_ic@2x.png"></div><span
                  class="teamCardName">Harry Sharma</span>
              </div>
            </div>
            <div class="teamCard mt_15">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/avtar_male_ic@2x.png"></div><span
                  class="teamCardName">Nanaso</span>
              </div>
            </div>
            <div class="teamCard mt_15">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/partner_service/asif_masih.png">
                </div><span class="teamCardName">Asif Masih</span>
              </div>
            </div>
            <div class="teamCard mt_15">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/avtar_male_ic@2x.png"></div><span
                  class="teamCardName">Shailesh Rathod</span>
              </div>
            </div>
            <div class="teamCard mt_15">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/avtar_male_ic@2x.png"></div><span
                  class="teamCardName">Jitendra Sain</span>
              </div>
            </div>
            <div class="teamCard mt_15">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/partner_service/tanveer_alam.png">
                </div><span class="teamCardName">Tanveer Alam</span>
              </div>
            </div>
            <div class="teamCard mt_15">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/partner_service/david_selvan.png">
                </div><span class="teamCardName">David Selvan</span>
              </div>
            </div>
          </div>
          <div class="teamCardContainer">
            <div class="teamCardContainerHeading">Digital Marketing</div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/digital_marketing/sandeep_sharma.png">
                </div><span class="teamCardName">Sandeep Sharma</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/digital_marketing/sandeep_mehta.png">
                </div><span class="teamCardName">Sandeep Mehta</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/digital_marketing/divvisha_bharti.png">
                </div><span class="teamCardName">Divvisha Bharti</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/digital_marketing/sanjay_kumar.png">
                </div><span class="teamCardName">Sanjay Bagadi</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/digital_marketing/pushkar_garg.png">
                </div><span class="teamCardName">Pushkar Garg</span>
              </div>
            </div>
          </div>
          <div class="teamCardContainer ">
            <div class="teamCardContainerHeading">Corporate &amp; Alliances</div>
            <div class="operationCard ">
              <div class="operationAvatarContainer"></div>
              <div class="flex operationContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/corporates/amit_saxena.png">
                </div><span class="operationCardName">Amit Saxena</span>
              </div>
            </div>
            <div class="operationCard ">
              <div class="operationAvatarContainer"></div>
              <div class="flex operationContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/corporates/swati_padiyar.png">
                </div><span class="operationCardName">Swati Padiyar</span>
              </div>
            </div>
          </div>
          <div class="teamCardContainer pb_10 mb_48">
            <div class="teamCardContainerHeading">Technology</div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/technology/jnanendra_veer.png">
                </div><span class="teamCardName">Jnanendra Veer</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/technology/ravinder_singh.png">
                </div><span class="teamCardName">Ravinder Singh</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/technology/rohit_rawat_ic.png">
                </div><span class="teamCardName">Rohit Rawat</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/technology/sheeba_siddiqui.png">
                </div><span class="teamCardName">Sheeba Siddiqui</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/technology/pankaj_saini.png">
                </div><span class="teamCardName">Pankaj Saini</span>
              </div>
            </div>
            <div class="teamCard ">
              <div class="teamAvatarContainer"></div>
              <div class="teamContent">
                <div class="flex alignCenter justifyCenter"
                  style="height:106px;width:106px;min-width:106px;max-height:106px;max-width:106px;min-height:106px;position:relative;background-color:white;border-radius:50%;border:2px solid #ef4a4e">
                  <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fp_tag_icon (1).svg"
                    height="22" width="22" class="avatarSocialIcon"><img style="height:100%;width:100%;border-radius:50%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/team/technology/subham_saini.png">
                </div><span class="teamCardName">Shubham Saini</span>
              </div>
            </div>
          </div>
        </div>
    
      </main>