/* CSS for Team page */

.bgWhite {
    background-color: #fff;
}

.teamBanner {
    width: 100%;
    margin-bottom: 40px;
}

.teamHeading {
    font-size: 2.625em;
    font-weight: 700;
    color: #0f1f2e;
    align-self: center;
    text-align: center;
}

.teamHeadingGradient {
    width: 140px;
    height: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 22px;
    border-radius: 5px;
    background-image: linear-gradient(92deg, #303395, #1b9dff);
}

.teamDescription {
    line-height: 1.22;
    color: #0f1f2e;
    font-size: 1.125em;
    text-align: center;
    width: 1080px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.getSetSweatText {
    color: #0f1f2e;
    font-weight: 700;
    font-size: 1.25em;
    letter-spacing: 2px;
    text-align: center;
    display: block;
    margin-top: 10px;
    font-weight: 700;
}

.teamCardContainer {
    border-top: 2px solid #d8d8d8;
    padding-top: 48px;
    margin-left: auto;
    margin-right: auto;
    width: 1236px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    position: relative;
}


.teamCard {
    border-radius: 4px;
    width: 15.5%;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .16);
    border: solid 1px rgba(229, 100, 134, .29);
    background-color: #f8f8f8;
    overflow: hidden;
    height: 190px;
}


.founderCard {
    display: flex;
    width: 48%;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .16);
    height: 224px;
    border: solid 1px rgba(229, 100, 134, .29);
    padding-bottom: 10px;
    background-color: #f8f8f8;
}

.avatarContainer {
    background: #fff;
    height: 216px;
    width: 280px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 245px;
    position: absolute;
}

.avatarSocialIcon {
    border-radius: 50%;
    position: absolute;
    bottom: -12px;
}

.founderContent {
    display: flex;
    padding-left: 210px;
    flex-direction: column;
    z-index: 1;
    padding-right: 28px;
    justify-content: center;
}

.founderName {
    font-size: 2em;
    font-weight: 700;
    color: #0f1f2e;
}

.founderDesignation {
    font-size: 1.25em;
    color: #ef4a4e;
    font-style: italic;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 12px;
}

.founderQualifications {
    font-size: 1em;
    line-height: 1.25;
    color: #0f1f2e;
}

.founderCard {
    display: flex;
    width: 48%;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .16);
    height: 224px;
    border: solid 1px rgba(229, 100, 134, .29);
    padding-bottom: 10px;
    background-color: #f8f8f8;
}

.teamCardContainerHeading {
    position: absolute;
    padding: 12px 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    border-radius: 8px;
    background-color: #2874f0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    top: -21px;
}

.teamAvatarContainer {
    background: #fff;
    height: 168px;
    width: 183px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 139px;
    position: absolute;
}

.teamContent {
    display: flex;
    z-index: 10;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 24px;
    align-items: center;
}

.teamCardName {
    color: #0f1f2e;
    font-weight: 700;
    margin-top: 28px;
    z-index: 5;
}

.operationCard {
    border-radius: 4px;
    width: 30%;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .16);
    border: solid 1px rgba(229, 100, 134, .29);
    background-color: #f8f8f8;
    overflow: hidden;
}

.operationAvatarContainer {
    background: #fff;
    height: 140px;
    width: 183px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 139px;
    position: absolute;
}

.operationContent {
    z-index: 10;
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 24px;
    align-items: center;
}

.operationCardName {
    font-weight: 700;
    font-size: 1em;
    color: #0f1f2e;
    z-index: 5;
    margin-left: 20px;
}