<main>
    <body>
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
    
          <!-- Main Content -->
          <div id="content">
    
          
            <!-- Begin Page Content -->
            <div class="container-fluid content-section">
                <div class="row">
                    <div class="col-md-9 description-section">
                      <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                          <div class="row no-gutters align-items-center">
                            <div class="col-md-3 profilepic">
                                <i class="fas fa-circle online-icon"></i>
                                <img src="{{tutorinfo['profile_image']['image_original']}}" style="border-radius:50%;width:150px;border-radius: 50%;height: 150px;" >
                                <div class="icons">
                                    <i class="fab fa-facebook-f" ></i>
                                    <i class="fab fa-instagram"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-snapchat"></i>
                                    <i class="fab fa-facebook-messenger"></i>
                                </div>
                                <button class="followerbutton">
                                  <i class="fa fa-plus followerrightmarkicon" aria-hidden="true"></i> 
                                  Followers: {{ followCount }} 
                                </button>
                                <a href="/messages" style="margin-top: 20px;" class="btn btn-success">Say hello <i class="far fa-hand-spock"></i></a>
                            </div>
                            <div class="col-md-9 namecontent">
                                <h3 class="username"> {{ tutorinfo['name'] }}</h3>
                                <div class="usertitle">{{ tutorinfo['tutor_category'] }}</div>
                                <span style="text-align: justify;">
                                    {{tutorinfo['description']}}
                                </span>
                                <!-- <span style="text-align: justify;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula ultricies lacus vel ornare. Cras aliquam turpis vitae purus vestibulum, id dapibus ex volutpat. Curabitur dapibus magna risus, at viverra sapien auctor in. Proin sit amet cursus est, eget faucibus quam. Fusce felis felis, facilisis vel lobortis a, facilisis in diam. Sed lobortis nisi vel commodo porta. Suspendisse potenti. Vestibulum sit amet dolor erat.
                                </span> -->
                                <button (click)="followToTutor()" *ngIf="!isFollow" class="followbutton">
                                  <i class="fa fa-check followrightmarkicon" aria-hidden="true"></i> 
                                  Follow 
                                </button>
                                <button (click)="unFollowToTutor()" *ngIf="isFollow" class="followbutton">
                                  <i class="fa fa-check followrightmarkicon" aria-hidden="true"></i> 
                                  UnFollow 
                                </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <strong>Experience : </strong> {{tutorinfo['experience']}}
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <strong>Languages : </strong>{{ tutorinfo['language'] }}
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <strong>Company Name : </strong>{{ (tutorinfo['company']['name'] != null)? tutorinfo['company']['name'] : 'N/A' }}
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <strong>Call Pricing : </strong> {{ tutorinfo['call_rate'] }}
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <strong>Chat Rate Pricing : </strong> {{ tutorinfo['chat_rate'] }}
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <strong>Status Active : </strong> <i class="fas fa-circle" style="color: lawngreen;"></i>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
              <div class="row">
    
                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary"> Photos </h6>
                      <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                          <div class="dropdown-header">Dropdown Header:</div>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="height: 464px; overflow-y: scroll;">
                        <div class="chart-area">
                            <span  *ngFor="let photo of tutorinfo['photos']">
                                <img class="col-md-4" style="border-radius: 30px; padding: 10px;" src="{{photo['image_original']}}">
                            </span>
                            
                        </div>
                    </div>
                  </div>
                </div>
    
                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <strong class=""> Ratings and Reviews </strong>
                      <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                          <div class="dropdown-header">Dropdown Header:</div>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="chart-pie pt-4 pb-2">
                        <!-- ============================ rating ====================-->

                        
                        <span class="heading">User Rating</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <p> {{tutorinfo['rating']}} average based on 254 reviews.</p>
                        <hr style="border:3px solid #f1f1f1">

                        <div class="row">
                          <div class="col-md-12"><strong>Rate to this expert</strong><br></div>
                          
                          <div class="col-md-12">
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                          </div>
                        </div>
                        <div class="row">
                          <strong>Review comments to this Expert</strong>
                          <textarea rows="4" type="textarea" name="comment" class="comment" placeholder="Describe your experience here..."></textarea>
                        </div>
                        <button class="btn btn-success ratingSubmitbutton">Submit</button>
                        <!--=======================Rating end =========================-->

                      </div>
                      <div class="mt-4 text-center small">
                        <span class="mr-2">
                          <i class="fas fa-circle text-primary"></i> Direct
                        </span>
                        <span class="mr-2">
                          <i class="fas fa-circle text-success"></i> Social
                        </span>
                        <span class="mr-2">
                          <i class="fas fa-circle text-info"></i> Referral
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
             
            </div>
            <!-- /.container-fluid -->
    
          </div>
          <!-- End of Main Content -->
    
          <!-- Footer -->
          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2019</span>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->
    
        </div>
        <!-- End of Content Wrapper -->
    
      </div>
      <!-- End of Page Wrapper -->
    
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
    
      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </body>
</main>