<main>
        <div
          style="background-image:url(&quot;https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fitcoach_banner_right.png&quot;), url(&quot;https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fitcoach_banner_left.png&quot;)"
          class="bannerContainer flex">
          <div class="flex-1 bannerContentContainer">
            <div class="flex col">
              <h1 class="headingText bannerHeading">FITCOACH</h1>
              <div class="bannerGradient"></div>
            </div>
            <h2 class="subHeadingText">FITNESS COACH THAT EVOLVES <br> AND ADAPTS TO YOUR NEEDS</h2>
            <h3 class="subHeading2Text"> <span class="c7"> 10,000+ </span> HAPPY MEMBERS</h3><a
              href="/membership?product=fitcoach" class="getFitNowButton">GET FIT NOW</a>
          </div>
        </div>
        <div class="fitFeastListContainer">
          <div class="flex col alignCenter mb_48">
            <h1 class="headingText c1">ACHIEVE ALL YOUR FITNESS GOALS</h1>
            <div class="bannerGradient"></div>
          </div>
          <div class="flex" style="padding-left:135px">
            <div class="flex-1">
              <div class="flex basicFitpass">
                <div class="flex col alignCenter flex-0">
                  <img src="assets/img/run.png" class="basicIcon" width="30">
                  <!-- <span class="icon-run basicIcon"></span> -->
                  <div class="basicUnderLine"></div>
                </div>
                <div class="ml_32"><span class="listTitle">
                    <!-- -->Personalized Fitness Routines</span> <br>
                    <span class="listDescription">AI enabled training and
                    workout plans</span>
                  </div>
              </div>
              <div class="flex basicFitpass">
                <div class="flex col alignCenter flex-0">
                  <img src="assets/img/video-camera.png" class="basicIcon" width="30">
                  <!-- <span class="icon-video basicIcon"></span> -->
                  <div class="basicUnderLine"></div>
                </div>
                <div class="ml_32"><span class="listTitle">
                    <!-- -->Curated Assistance</span> <br>
                    <span class="listDescription">Smart instruction videos in
                    HD</span>
                  </div>
              </div>
              <div class="flex basicFitpass">
                <div class="flex col alignCenter flex-0">
                  <img src="assets/img/abs-workout.png" class="basicIcon" width="30">
                  <!-- <span class="icon-Abs basicIcon"></span> -->
                  <div class="basicUnderLine"></div>
                </div>
                <div class="ml_32"><span class="listTitle">
                    <!-- -->Dynamic Workout Recommendations</span> <br><span class="listDescription">Based on your needs and
                    performance with emphasis on form &amp; technique</span></div>
              </div>
              <div class="flex basicFitpass">
                <div class="flex col alignCenter flex-0">
                  <img src="assets/img/target.png" class="basicIcon" width="30">
                  <!-- <span class="icon-target_ic basicIcon"></span> -->
                  <div class="basicUnderLine">
    
                  </div>
                </div>
                <div class="ml_32"><span class="listTitle">
                    <!-- -->Adaptive &amp; Self-Evolutionary</span> <br><span class="listDescription">Technology that grows
                    with you on the journey to get fit and stay fit</span></div>
              </div>
            </div>
            <div class="flex-1 listImageContainer"><img class="listImage"
                src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fitcoach_mob_ic.png"></div>
          </div>
        </div>
        <div class="customFaq">
          <div class="faqContainer">
            <div class="faq_heading flex">
              <div>
                <h2 class="faq_heading_title"> FAQs</h2>
                <div class="flex alignCenter mt_5">
                  <div class="faq_headingGradient"></div>
                  <div class="faq_headingLine"></div>
                </div>
              </div>
              <div class="flex-1 dummyHeading"></div>
            </div>
            <div class="accordion">
              <div class="faqQuestion q1">What is FITCOACH?</div>
              <i style="position:absolute;top:14px;right:12px" class="fas fa-caret-down"></i>
              <!-- <span style="position:absolute;top:14px;right:12px"
                class="icon-arrow_drop_down_ic">
              </span> -->
            </div>
            <div class="panel p1" style="height: 0px;">
              <div class="faqAnswer">
                <p><a href="#" target="_blank">FITCOACH</a> - Revolutionary, artificial
                  intelligence enabled training and coaching plans that evolve and adapt to your needs and fitness goals.
                  Personalized fitness routines and workout plans curated to provide assistance through smart HD instruction
                  videos, with special emphasis on form and technique.</p>
              </div>
            </div>
            <div class="faqSeparator"></div>
            <div class="accordion">
              <div class="faqQuestion q2">How long is FITCOACH service?</div>
              <i style="position:absolute;top:14px;right:12px" class="fas fa-caret-down"></i>
            </div>
            <div class="panel p2" style="height: 0px;">
              <div class="faqAnswer">Once you have purchased the FITCOACH membership, you can avail the services for a
                period of three months (or six months) from the date of purchase. For instance, you've purchased a
                membership on March 19th, 2018, then it will be valid till June 16th, 2018.</div>
            </div>
            <div class="faqSeparator"></div>
            <div class="accordion">
              <div class="faqQuestion q3">When does my FITCOACH start?</div>
              <i style="position:absolute;top:14px;right:12px" class="fas fa-caret-down"></i>
            </div>
            <div class="panel p3" style="height: 0px;">
              <div class="faqAnswer">FITCOACH services start from the date and time of purchase of the service.</div>
            </div>
            <div class="faqSeparator"></div>
            <div class="accordion">
              <div class="faqQuestion q4">How do I access FITCOACH ?</div>
              <i style="position:absolute;top:14px;right:12px" class="fas fa-caret-down"></i>
            </div>
            <div class="panel p4" style="height: 0px;">
              <div class="faqAnswer">
                <p>a) Open the FITPASS application<br>
                  b) Click on FITCOACH<br>
                  c) Provide your basic details like Age, Weight &amp; Height etc. through an A.I. initiated form<br>
                  d) Choose your Workout Plan based on your fitness goal – Shortcut to Shred, The Flat Tyres, Power Abs, All
                  Must Go and so on<br>
                  e) Enroll for FITCOACH membership<br>
                  f) Select “Today’s Workout”<br>
                  g) Follow the exercises and achieve your fitness goals</p>
              </div>
            </div>
            <div class="faqSeparator"></div>
          </div>
        </div>
    
    
      </main>