

/* CSS for fitcoach page */

.bannerContainer {
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    background-color: black;
}

.bannerContentContainer {
    padding-top: 54px;
    padding-bottom: 54px;
    padding-left: 135px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.subHeadingText {
    font-size: 1.75em;
    line-height: 1.21;
    color: #fff;
    margin-bottom: 12px;
}

.subHeading2Text {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}

.getFitNowButton {
    background: #fff;
    padding: 12px 0;
    width: 180px;
    text-decoration: none;
    cursor: pointer;
    color: #0f1f2e;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    text-transform: uppercase;
}

.bannerHeading {
    color: white;
}


.fitFeastListContainer {
    background: white;
    padding-top: 34px;
}

.headingText {
    font-size: 2em;
    color: #0f1f2e;
    letter-spacing: 3.5px;
    font-weight: 700;
    line-height: 1.14;
}


.bannerGradient {
    width: 120px;
    height: 6px;
    margin-top: 10px;
    margin-bottom: 14px;
    border-radius: 5px;
    margin-right: 49px;
    background-image: linear-gradient(93deg, #303395, #1b9dff);
}

.basicIcon {
    color: #007aff;
    font-size: 2.625em;
}

.basicUnderLine {
    width: 52px;
    height: 3px;
    margin-top: 6px;
    background-color: #2e276e;
}

.listTitle {
    font-size: 1.25em;
    color: #0f1f2e;
    line-height: 1.3;
    font-weight: bold;
}

.listDescription {
    font-size: 1.25em;
    color: #0f1f2e;
    line-height: 1.3;
}

.customFaq {
    padding-left: 168px;
    padding-right: 168px;
    background: white;
}

.faqContainer {
    padding: 32px 168px;
    background: #fff;
    margin-top: 12px;
}

.faq_heading {
    position: relative;
    margin-bottom: 15px;
}

.faq_heading_title {
    font-size: 1.375em;
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: normal;
    color: #0f1f2e;
}

.faq_headingGradient {
    width: 35px;
    height: 4px;
    border-radius: 2.5px;
    background-image: linear-gradient(96deg, #303395, #1b9dff);
}

.faq_headingLine {
    flex: 1;
    height: 2px;
    background-color: #e3e3e3;
}

.panel {
    padding: 0;
    height: 0;
    transition: height .2s ease-in;
    overflow: hidden;
}

.faqAnswer {
    color: #2e276e;
    font-size: .875em;
    line-height: 1.29;
    padding-bottom: 12px;
}

.faqQuestion {
    color: #302c57;
    font-size: 16px;
    padding-bottom: 14px;
    padding-top: 14px;
    font-weight: 600;
}

.accordion {
    color: #444;
    cursor: pointer;
    position: relative;
    border: 0;
    text-align: left;
    outline: 0;
    font-size: 15px;
    transition: .4s;
}

.faqSeparator {
    height: 1px;
    background-color: #d8d8d8;
}

.bannerHeading {
    color: white;
}

.autoHeight{
    height: 100% !important;
    /* transition: 0.8s ease-in all; */
}