/* CSS for CORPORATE page */

.corpBaner {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.bannerHeading {
    font-size: 2.125em;
    color: #0f1f2e;
    text-transform: uppercase;
    line-height: 1.12;
}

.corpCardGradient {
    width: 90px;
    height: 4px;
    border-radius: 5px;
    background-image: linear-gradient(92deg, #303395 2%, #1b9dff 99%);
}

.gradientUnderLine {
    width: 80px;
    height: 6px;
    margin-top: 10px;
    align-self: auto;
    margin-bottom: 16px;
    border-radius: 2.5px;
    background-image: linear-gradient(94deg,#303395,#1b9dff);
}

.aboutFitpassContainer {
    padding: 32px 44px;
    margin-top: 12px;
    display: flex;
}

.logoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.logoImage {
    height: 70px;
    width: 120px;
    margin-right: 15px;
    color: #2e276e;
    margin-bottom: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    background-color: #fff;
}

.aboutFitpassContent {
    padding-left: 44px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}



.corpCard {
    width: 23%;
}

.joinButton {
    background: #2874f0;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    margin-top: 18px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.26);
}