<main>
        <div class="bgWhite">
          <div class="corpBaner"
            style="background-image:url(&quot;https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/bg_img_corporate.jpg&quot;)">
            <h1 class="bannerHeading extraBold ml_48">Corporate Benefits</h1>
            <div class="gradientUnderLine ml_48"></div>
            <div class="flex justifyCenter">
              <div style="background:#fff;border-bottom-left-radius:8px;border-top-left-radius:8px"
                class="textCenter corpCard">
                <img width="100%"
                  src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/img_1.png"
                  alt="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/img_1.png">
                <div class="pl_16 pb_16 pr_16 mt_20 flex col alignCenter">
                  <h2 class="f4 c1 mb_10 text-center">Lakhs of Fitness Workouts</h2>
                  <div class="corpCardGradient"></div>
                  <span class="c1 mt_20">Employees can choose from lakhs of workout
                    sessions across 1,500+ fitness centers in India. Don't limit your employees with a single gym
                    membership.</span>
                </div>
              </div>
              <div style="background:#f9f9f9" class="textCenter corpCard"><img width="100%"
                  src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/img_2.png"
                  alt="image">
                <div class="pl_16 pb_16 pr_16 mt_20 flex col alignCenter">
                  <h2 class="f4 c1 mb_10 text-center">Workout Anywhere, Anytime</h2>
                  <div class="corpCardGradient"></div>
                  <span class="c1 mt_20">In an age of increasing stress and anxiety
                    levels, longer working days and constant multitasking, give your employees the freedom to workout
                    anywhere, anytime.</span>
                </div>
              </div>
              <div style="background:#fff" class="textCenter corpCard"><img width="100%"
                  src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/img_3.png"
                  alt="image">
                <div class="pl_16 pb_16 pr_16 mt_20 flex col alignCenter">
                  <h2 class="f4 c1 mb_10 text-center">Productive <br> Employees</h2>
                  <div class="corpCardGradient"></div>
                  <span class="c1 mt_20">Fitter, healthier &amp; happier employees are
                    the only key to a productive work force, lower absenteeism, and lower attrition rates. Invest smartly in
                    your employees' health.</span>
                </div>
              </div>
              <div style="background:#f9f9f9;border-bottom-right-radius:8px;border-top-right-radius:8px"
                class="textCenter corpCard"><img width="100%"
                  src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/img_4.png"
                  alt="image">
                <div class="pl_16 pb_16 pr_16 mt_20 flex col alignCenter">
                  <h2 class="f4 c1 mb_10 text-center">Healthier <br> Profits</h2>
                  <div class="corpCardGradient"></div>
                  <span class="c1 mt_20">Harvard Business Review finds that companies
                    enjoy cost savings of at least $6 for every $1 spent on wellness programs. Fitter employees lead to
                    healthier profits.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="aboutFitpassContainer">
          <div class="flex-1 logoContainer">
            <img class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/bank_of_baroda.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/cred.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/daikin.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/goibibo.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/grant_thornton.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/icici_bank.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/ihs_markit.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/makemytrip.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/meesho.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/metlife.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/redbus.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/sbi_wealth.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/scb.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/sbi_card.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/vhealth.png">
              <img
              class="logoImage"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/corporates/yes-bank.png">
            </div>
    
          <div class="aboutFitpassContent">
            <h1 class="bannerHeading gothamBold"> INTERESTED IN OUR CORPORATE SOLUTIONS?</h1>
            <div class="gradientUnderLine"></div>
            <span class="bannerDescription">Drop in your details and we will get in
              touch with you shortly.</span>
            <div class="joinButton">Enter Details</div>
          </div>
        </div>
    
      </main>