<nav class="navbar bg-custom navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="img/wizhob-logo.png" height="40" alt="image">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3"
        aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav3">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-mobile-alt"></i> Get the app <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Browse Studios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="membership.html">Membership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login/Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>