 <footer class="desktop-view">
    <div class="navigateFooter">
      <div class="flex">
        <span class="footerHeading">COMPANY</span>
        <span class="footerHeading">PRODUCTS</span>
        <span class="footerHeading">CONNECT</span>
        <span class="footerHeading">SOCIAL</span>
        <span style="flex:1.3" class="footerHeading">DOWNLOAD THE FITPASS APP</span>
      </div>
      <div class="flex">
        <div class="flex col footerLinkContainer">
          <ul>
            <li><a routerLink="/about" class="footerlink">About</a></li>
            <li><a routerLink="/team" class="footerlink">Team</a></li>
            <li><a href="/sweatiquette-faq" class="footerlink">Sweatiquette &amp; FAQs</a></li>
            <li><a href="/terms-and-conditions" class="footerlink">Terms &amp; Conditions</a></li>
            <li><a href="/privacy-policy" class="footerlink">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="flex col footerLinkContainer">
          <ul>
            <li><a target="_blank" routerLink="/fitcoach" class="footerlink">FITPASS</a></li>
            <li><a target="_blank" routerLink="/fitcoach" class="footerlink">FITCOACH</a></li>
            <li><a target="_blank" routerLink="/dietitians" class="footerlink">FITFEAST</a></li>
            <li><a target="_blank" routerLink="/subscription" class="footerlink">Subscription</a></li>
            <li><a target="_blank" routerLink="/corporate-wellness" class="footerlink">Corporate-Wellness</a></li>
          </ul>
        </div>
        <div class="flex col footerLinkContainer">
          <ul>
            <li><a target="_blank" routerLink="/contact" class="footerlink">Contact Us</a></li>
            <li><a target="_blank" routerLink="/partners"  class="footerlink">Become A Partner</a></li>
            <li><a target="_blank" routerLink="/blog" class="footerlink">Blog</a></li>
            <li><a target="_blank" routerLink="/careers" class="footerlink">Careers</a></li>
            <li><a target="_blank" routerLink="/corporates" class="footerlink">Corporates</a></li>
          </ul>
        </div>
        <div class="flex col footerLinkContainer">
          <ul>
            <li>
              <a target="_blank" href="#" class="footerlink">
                <i class="socialImage fab fa-facebook-square"></i> &nbsp;Facebook
              </a>
            </li>
            <li>
              <a target="_blank" href="#" class="footerlink">
                <i class="socialImage fab fa-twitter"></i> &nbsp;Twitter
              </a>
            </li>
            <li>
              <a target="_blank" href="#" class="footerlink">
                <i class="socialImage fab fa-instagram"></i> &nbsp;Instagram
              </a>
            </li>
            <li>
              <a target="_blank" href="#" class="footerlink">
                <i class="socialImage fab fa-linkedin"></i> &nbsp;Linkedin
              </a>
            </li>
          </ul>
        </div>
        <div style="flex:1.3;margin-top:12px">
          <div class="flex storeIconContainer">
            <a target="_blank" href="#">
              <img src="img/apple_light.svg" alt="fitpass app store">
            </a>
            <a target="_blank" href="#">
              <img style="margin-left:9px" src="img/google_light.svg" alt="fitpass play store">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footerSeparator"></div>
    <div class="footer flex text-center" style="justify-content:space-between">
      <img class="footerLogo"
        src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/fitpass_logo_white.svg"
        alt="fitpass logo">
      <div class="copyRightText">© 2015-2020 fitpass.co.in | All Rights Reserved</div>
      <img src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/payment_ic.png"
        alt="fitpass payment methods">
    </div>
  </footer>