<main>
  <div class="flex col p-0">
    <div class="fixed fixedContent">
      <div id="navigator" class="navigatorContainer">
        <a class="navigator" href="/">
          <!-- -->FITPASS &gt;
          <!-- --> </a>
        <a class="navigator" href="/studio">
          <!-- -->Fitness Centers
          <!-- --> </a>
      </div>
      <div class="fitersContainer flex">
        <div class=" flex flex-1">
          <div class="locationContainer">
            <i class="fas fa-map-marker-alt icon-location"></i>
            <AutocompleteComponent (setAddress)="getAddress($event)" adressType="geocode"></AutocompleteComponent>
          </div>
          <div class="locationContainer">
            <select (change) = "sortbyChange($event)" name="sort" class="sortby">
              <option value="0"> Sort By </option>
                <option value="1"> Distance </option>
                <option value="2"> Rating </option>
                <option value="3"> Latest </option>
            </select>
          </div>
          <div class="locationContainer">
            <span class="popupHeading dropdown-toggle" data-toggle="dropdown"> Categories </span>
            <span style="position:absolute;right:15px" class="fas fa-caret-down"></span>
            <div class="popup-content amenity-content dropdown-menu"
              style="position: absolute; z-index: 2; width: 400px; background: rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px; padding: 5px; top: 101px; left: 598.672px;">
              <div class="popup-arrow amenity-arrow"
                style="height: 10px; width: 10px; position: absolute; background: rgb(255, 255, 255); transform: rotate(225deg); margin: -5px; z-index: -1; box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px; top: 0%; left: 20%;">
              </div>
              <div class="flex locationOptionsContainer">
                <div class="radioButtonContainer" *ngFor="let vendor of vendorcat">
                  <input (change)="categoryChange($event)" type="checkbox" value="{{vendor.id}}"
                    style="width: 22px;height: 22px;">
                  <div class="radioButtonText ml_10">{{vendor.heading}}</div>
                </div>
              </div>
              <div class="clearAndApplyContainer">
                <div class="clearButton">Clear</div>
                <div (click)="filtervendor()" class="filterApplyButton">Apply</div>
              </div>
            </div>
          </div>
          <div class="locationContainer">
            <input (change)="dateChange($event)" placeholder="select date" class="floating-label1" matInput
              [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
          <div class="locationContainer">
            <span class="popupHeading dropdown-toggle" data-toggle="dropdown">Amenities </span>
            <span style="position:absolute;right:15px" class="fas fa-caret-down"></span>
            <div class="popup-content amenity-content dropdown-menu"
              style="position: absolute; z-index: 2; width: 400px; background: rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px; padding: 5px; top: 101px; left: 598.672px;">
              <div class="popup-arrow amenity-arrow"
                style="height: 10px; width: 10px; position: absolute; background: rgb(255, 255, 255); transform: rotate(225deg); margin: -5px; z-index: -1; box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px; top: 0%; left: 20%;">
              </div>
              <div class="flex locationOptionsContainer">
                <div class="radioButtonContainer" *ngFor="let amenity of amenities">
                  <input type="checkbox" (change)="aminitiesChange($event)" name="activities[]" value="{{amenity.id}}"
                    style="width: 22px;height: 22px;">
                  <div class="radioButtonText ml_10">{{amenity.amenity_type}}</div>
                </div>
              </div>
              <div class="clearAndApplyContainer">
                <div class="clearButton">Clear</div>
                <div (click)="filtervendor()" class="filterApplyButton">Apply</div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-1">
          <div class="searchBarContainer flex alignCenter">
            <span class="fas fa-search searchBarIcon"></span>
            <input class="searchBarInput" placeholder="Find a fitness center" value=""></div>
        </div>
      </div>
    </div>
    <div class="flex listMainContainer">
      <div class="listContainer flex-2">
        <div class="studioCardContainer" *ngFor="let vendordetail of vendordetails">
          <div class="flex flex-row detailsContainer">
            <div class="flex  flex-1">
              <img class="studioCardLogo" src="{{vendordetail.profileImage.image_original}}">
              <div class="details flex-1">
                <h1 title="True Gym And Spa" class="studioCardHeading">True Gym And Spa</h1>
                <h2 title="Shalimar Bagh" class="studioCardLocality">{{ vendordetail.studio_name }}</h2>
                <div class="flex spaceBetween">
                  <div class="flex">
                    <div style="background-color:#44e487" class="studioRatingContainer">
                      <span class="fa fa-star studioRatingStar"></span>
                      <span class="studioRatingText">{{ vendordetail.rating }}</span>
                    </div>
                    <span class="ratingDescription" style="background-color:#44e487">{{vendordetail.scale}}</span>
                    <div class="flex ratingViewBackground" href="#ratingViewContainer">
                      <a target="_blank" href="/studio/true-gym-and-spa-shalimar-bagh/#ratingViewContainer"
                        class="studioTotalRating">
                        {{ vendordetail.totalRating }} Reviews</a>
                      <img class="ratingRightArrow"
                        src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/rightArrow.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="detailSeparator"></div>
            <div class="flex-1 studioDescription">
              <div>True Gym And Spa is one of the larger gyms near Shalimar Bagh. They boast of state-of-the-art
                facilities for a total body workout, and also conduct group classes.&nbsp;...</div>
            </div>
            <div class="viewDetailContainer flex alignEnd">
              <a href="#" class="viewDetailButton">
                <!-- -->View Details
                <!-- --> <i class="fas fa-angle-double-right"></i>
              </a>
            </div>
          </div>
          <div class="flex providedWorkoutContainer">
            <div id="activitesContainer" class="activitesContainer flex-1 scrollable flex">
              <div class="activity">Gym Workout</div>
              <div class="activity">Gym Workout For Women</div>
            </div>
            <div class="reserveWorkoutButton">Reserve Workout</div>
          </div>
        </div>
      </div>
      <div class="flex col flex-1">
        <div class="fitpassDetailContainer">
          <div class="flex col p-0">
            <div class="flex-1" style="padding: 20px; overflow: auto;">
              <div class="heading mb_12">
                <h2 class="heading_title" style="color: rgb(15, 31, 46); opacity: 1; letter-spacing: 1px;">What is
                  FITPASS?</h2>
                <div class="flex alignCenter" style="margin-top: 4px;">
                  <div class="headingGradient"></div>
                  <div class="headingLine"></div>
                </div>
              </div>
              <div class="mt_15">
                <div class="flex f7 c1 alignCenter">
                  <div class="flex col alignCenter flex-0">
                    <div class="aboutFitpassGradient"></div>
                  </div>
                  <span class="basicDescription c1 lh_1_3 ml_10 mt_5">One membership to workout</span>
                </div>
                <div class="flex f7 c1 alignCenter">
                  <div class="flex col alignCenter flex-0">
                    <span class="dot5"></span>
                    <div class="aboutFitpassGradient"></div>
                  </div>
                  <span class="basicDescription c1 lh_1_3 ml_10 mt_5">Across 4,000+ gyms and fitness studios
                    pan-India</span>
                </div>
                <div class="flex f7 c1 alignCenter">
                  <div class="flex col alignCenter">
                    <span class="dot5"></span>
                    <div class="aboutFitpassGradient"></div>
                  </div>
                  <span class="basicDescription c1 lh_1_3 ml_10 mt_5">Anywhere, anytime - near your home, office
                    or friend’s house</span>
                </div>
                <div class="flex f7 c1 alignCenter">
                  <div class="flex col alignCenter">
                    <span class="dot5"></span>
                    <div class="aboutFitpassGradient"></div>
                  </div>
                  <span class="basicDescription c1 lh_1_3 ml_10 mt_5">Yoga, Zumba Pilates, CrossFit, Kickboxing,
                    Gym workout and many more</span>
                </div>
              </div>
              <div class="accordion">
                <div class="heading" style="margin-top: 60px;">
                  <h2 class="heading_title collapsed" data-toggle="collapse" data-target="#demo"
                    style="color: rgb(15, 31, 46); opacity: 1; letter-spacing: 1px;">
                    How does it work?</h2>
                  <div class="flex alignCenter" style="margin-top: 4px;">
                    <div class="headingGradient"></div>
                    <div class="headingLine"></div>
                  </div>
                </div>
                <span class="fas fa-caret-down" style="position: absolute; right: 12px; top: 8px;"></span>
              </div>
              <div class="panel" data-toggle="collapse" data-target="#demo">
                <div>
                  <ol>
                    <li class="lh_1_3">Register or log in using your mobile number</li>
                    <li class="lh_1_3">Choose a suitable plan and activate your FITPASS</li>
                    <li class="lh_1_3">Browse through studios and reserve a workout of your choice </li>
                    <li class="lh_1_3">Attend the session to achieve your fitness goals</li>
                  </ol>
                  <div class="bold">Get.Set.Sweat</div>
                </div>
              </div>
              <div class="plansHeadingContainer flex">
                <span class="plansheading">CHOOSE PLAN</span>
                <div class="planHeadingBar"></div>
              </div>
              <div class="flex">
                <div class="flex priceButtonContainer selectedPriceButtonContainer ">
                  <span class="bold c2">₹999.00</span>
                  <span>/1 Month</span>
                </div>
                <div class="flex priceButtonContainer ml_15">
                  <span class="bold c4">₹2499.00</span>
                  <span>/3 Months</span>
                </div>
              </div>
              <div class="flex applyButtonContainer">
                <div class="applyInputContainer">
                  <input class="applyInput" placeholder="Have a coupon code?" type="text" value=""></div>
                <div class="applyButton">APPLY</div>
              </div>
              <div class="accordion">
                <div class="plansHeadingContainer flex">
                  <span class="plansheading">ORDER SUMMARY</span>
                  <div class="planHeadingBar"></div>
                </div>
                <span class="fas fa-caret-down" style="position: absolute; right: 5px; top: 0px;"></span>
              </div>
              <div class="panel">
                <div>
                  <div class="flex">
                    <div class="summaryTitle">Membership</div>
                    <div class="priceStyle">₹999</div>
                  </div>
                  <div class="flex mt_18">
                    <div class="summaryTitle">GST &amp; Applicable Charges</div>
                    <div style="font-weight: bold; color: rgb(48, 44, 87);">₹279.72</div>
                  </div>
                  <div class="flex mt_18">
                    <div class="summaryTitle gothamBold">Payable Amount</div>
                    <div class="c12 gothamBold">₹1278.72</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex proceedButtonContainer">
              <div class="flex proceedPrice">₹1278.72</div>
              <div class="flex proceedButton">PROCEED</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="loadMoreButton">Load More...</div>

  <div>
    <div class="aboutFitpassContainer">
      <h3 class="preFooterTitle">GYM Workout and Much More </h3>
      <p class="preFooterDescription">FITPASS is India’s largest network of gyms and fitness studios. Choose from
        1,50,000+ workout sessions at 4,000+ gyms and fitness studios across India. Our membership gives access to
        &nbsp;<a class="prefooterlink" href="#">Gym Workout</a>,
        &nbsp;<a class="prefooterlink" href="#">Zumba</a>,
        &nbsp;<a class="prefooterlink" href="#">MMA</a>,
        &nbsp;<a class="prefooterlink" href="#">Kickboxing</a>,
        &nbsp;<a class="prefooterlink" href="#">Swimming</a>,
        &nbsp;<a class="prefooterlink" href="#">ABT</a>,
        &nbsp;<a class="prefooterlink" href="#">Aerobics</a>,
        &nbsp;<a class="prefooterlink" href="#">HIIT</a>,
        &nbsp;<a class="prefooterlink" href="#">Pilates</a>,
        &nbsp;<a class="prefooterlink" href="#">Yoga</a>,
        &nbsp;<a class="prefooterlink" href="#">Abs</a>
        &nbsp;and just about anything else. At FITPASS, there is something for everyone!</p>
    </div>
    <div class="aboutFitpassContainer">
      <h3 class="preFooterTitle">4,000+ Gyms across India</h3>
      <p class="preFooterDescription">Gone are the days when you needed to search gyms near me or fitness centers near
        me on search engines. Choose from the best gyms and studios in your locality and workout at several of your
        choices. We have partnered with the best fitness centers in your city so that you can workout wherever you
        want.</p>
    </div>
    <div class="aboutFitpassContainer">
      <h3 class="preFooterTitle">Pan India Presence</h3>
      <p class="preFooterDescription">Try several fitness forms in
        &nbsp;<a class="prefooterlink" href="/delhi/fitness-centers">Delhi</a>,
        &nbsp;<a class="prefooterlink" href="/noida/fitness-centers">Noida</a>,
        &nbsp;<a class="prefooterlink" href="/faridabad/fitness-centers">Faridabad</a>,
        &nbsp;<a class="prefooterlink" href="/ghaziabad/fitness-centers">Ghaziabad</a>,
        &nbsp;<a class="prefooterlink" href="/gurugram/fitness-centers">Gurugram</a>,
        &nbsp;<a class="prefooterlink" href="/ahmedabad/fitness-centers">Ahmedabad</a>,
        &nbsp;<a class="prefooterlink" href="/mumbai/fitness-centers">Mumbai</a>,
        &nbsp;<a class="prefooterlink" href="/chennai/fitness-centers">Chennai</a>,
        &nbsp;<a class="prefooterlink" href="/bengaluru/fitness-centers">Bengaluru</a>,
        &nbsp;<a class="prefooterlink" href="/hyderabad/fitness-centers">Hyderabad</a>,
        &nbsp;<a class="prefooterlink" href="/chandigarh/fitness-centers">Chandigarh</a>,
        and
        &nbsp;<a class="prefooterlink" href="/kolkata/fitness-centers">Kolkata</a>.&nbsp;Whatever it is that you’re
        looking for, there’s always a suitable session waiting for you. We allow our members access to workout in 15
        major Indian cities. So whether you’re traveling on business or taking time off from your hectic schedule,
        there’s no reason for you to miss your daily fitness class.</p>
    </div>
    <div class="aboutFitpassContainer">
      <h3 class="preFooterTitle">All-in-one Fitness Application</h3>
      <p class="preFooterDescription">We cater to all your fitness needs with just one application. Look for fitness
        centers and gyms near you, consult highly qualified nutritionists for daily diet suggestions, receive custom
        workout recommendations from our A.I. enabled program, and buy genuine supplements, apparel, and official
        merchandise at low prices on our website or app. FITPASS empowers individuals to turn their fitness goals into
        reality without having to spend a fortune on gym memberships. Choose an affordable and all-inclusive system
        for a fit lifestyle. Choose FITPASS!</p>
    </div>
  </div>
</main>