/* studio css */

.main {
    height: 100%;
    width: 100%;
    min-width: 1040px;
    overflow: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    background-color: #f9f9f9;
}

.fixedContent {
    background: #f2f2f2;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .16), 0 0 12px 0 rgba(0, 0, 0, .16);
}

.fixed {
    position: fixed;
    width: 100%;
    top: 70px;
    z-index: 9;
}

.navigatorContainer {
    padding: 8px 16px;
}

.navigator {
    font-size: .75em;
    color: #302c57;
    text-decoration: none;
    background: #f2f2f2;
}

.fitersContainer {
    background: #fff;
    padding: 17px 20px;
}

.locationContainer {
    border: solid 1px #3b88fd;
    border-radius: 24px;
    /* padding-top: 11px;
    padding-bottom: 11px; */
    padding-left: 22px;
    padding-right: 15px;
    min-width: 210px;
    margin-right: 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.locationName {
    font-size: 1em;
    color: #2874f0;
    margin-left: 10px;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.searchBarContainer {
    border-radius: 24px;
    border: solid 1px #979797;
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    color: #0f1f2e;
    margin-right: 20px;
}

.searchBarInput {
    color: #94979b;
    font-size: 1em;
    margin-left: 8px;
    width: 100%;
}

input {
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

.listMainContainer {
    /* margin-top: 115px; */
    margin-top: 135px;
}

.listContainer {
    overflow: hidden;
    margin-left: 16px;
    flex: 2;
}

.studioCardContainer {
    margin-top: 12px;
    background: #fff;
    flex: 1;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);
    background-color: #fff;
}

.detailsContainer {
    padding: 10px;
}

.detailSeparator {
    width: 1px;
    margin: 0 12px;
    background-color: #d8d8d8;
}

.studioDescription {
    font-size: .875em;
    color: #2e276e;
    line-height: 1.21;
    display: flex;
    align-items: center;
}

.viewDetailContainer {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 6px;
}

.alignEnd {
    align-items: flex-end;
}

.spaceBetween {
    justify-content: space-between;
}

.studioCardLogo {
    height: 86px;
    width: 86px;
    margin-right: 14px;
    border-radius: 4px;
    border: 1px solid gray;
}

.studioCardHeading {
    font-size: 1em;
    color: #302c57;
    white-space: pre-wrap;
}

.studioCardLocality {
    font-size: .875em;
    color: #302c57;
    opacity: .6;
    margin-top: 4px;
    margin-bottom: 12px;
    max-width: 200px;
}

.studioRatingContainer {
    padding: 4px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ratingDescription {
    font-size: .75em;
    padding: 6px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #44e487;
    margin-left: 2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ratingViewBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 5px;
}

.studioTotalRating {
    font-size: .75em;
    color: #0f1f2e;
    text-decoration: none;
    text-decoration: none;
}

.ratingRightArrow {
    height: 8px;
    width: 8px;
    margin-left: 2px;
    margin-top: 2px;
}

.studioRatingText {
    color: #fff;
    font-size: .875em;
    margin-left: 3px;
    display: inline-block;
}

.studioRatingStar {
    color: #fff;
    font-size: .875em;
}

.fa,
.fas {
    font-weight: 900;
}

.viewDetailContainer {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 6px;
}

.viewDetailButton {
    color: #302c57;
    font-size: .875em;
    opacity: .6;
    text-decoration: none;
}

.providedWorkoutContainer {
    border-top: 1px solid #d8d8d8;
}

.activitesContainer {
    padding: 8px;
    margin-right: 8px;
}

.scrollable {
    overflow: auto;
}

.activitesContainer {
    padding: 8px;
    margin-right: 8px;
}

.activity {
    color: #2e276e;
    font-size: .875em;
    border: solid 1px #bcbcbc;
    border-radius: 4px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-right: 10px;
}

.reserveWorkoutButton {
    color: #fff;
    font-size: .875em;
    border-radius: 2px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #2874f0;
    padding: 0 18px;
}

.detailsContainer {
    padding: 10px;
}

.fitpassDetailContainer {
    background: #fff;
    display: flex;
    height: 70vh;
    position: sticky;
    top: 127px;
    position: -webkit-sticky;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);
    margin-top: 12px;
    margin-left: 12px;
}

.accordion {
    color: #444;
    cursor: pointer;
    position: relative;
    border: 0;
    text-align: left;
    outline: 0;
    font-size: 15px;
    transition: .4s;
}

.heading {
    position: relative;
    text-align: left;
}

.heading_title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.44;
    letter-spacing: normal;
    color: #0d0650;
    text-transform: capitalize;
}

.plansHeadingContainer {
    align-items: center;
    color: #0b1f33;
    opacity: .6;
    padding-right: 30px;
    margin-bottom: 22px;
    margin-top: 28px;
    font-size: 12px;
    letter-spacing: 2px;
}

.planHeadingBar {
    flex: 1;
    height: 2px;
    margin-left: 8px;
    background: rgba(0, 0, 0, .16);
}

.priceButtonContainer {
    cursor: pointer;
    border: 1px solid #27d671;
    color: #302c57;
    padding: 12px 0;
    border-radius: 4px;
    background: #fff;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.applyButtonContainer {
    border-radius: 6px;
    overflow: hidden;
    margin-top: 15px;
    border: 1px solid #d3d3d3;
}

.selectedPriceButtonContainer {
    border: 1px solid transparent;
    color: #fff;
    background: #27d671;
}

.applyInputContainer {
    flex: 2;
    padding: 12px;
}

.plansHeadingContainer {
    align-items: center;
    color: #0b1f33;
    opacity: .6;
    padding-right: 30px;
    margin-bottom: 22px;
    margin-top: 28px;
    font-size: 12px;
    letter-spacing: 2px;
}

.panel {
    padding: 0;
    height: 0;
    transition: height .2s ease-in;
    overflow: hidden;
}

.proceedButtonContainer {
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .16);
}

.proceedPrice {
    color: #34b575;
    font-weight: 700;
    flex: 1;
    padding: 13px 16px;
    justify-content: center;
}

.proceedButton {
    cursor: pointer;
    color: #fff;
    letter-spacing: 2px;
    background-color: #27d671;
    font-weight: 700;
    padding: 13px 0;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.activities-content {
    z-index: 100 !important;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.16),0 0 12px 0 rgba(0,0,0,.16) !important;
    position: absolute; 
    z-index: 2; 
    width: 400px; 
    background: rgb(255, 255, 255);
    border: 1px solid rgb(187, 187, 187); 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px; 
    padding: 5px; 
    top: 70px; 
    left: 0.672px;
}

.locationOptionsContainer {
    flex-wrap: wrap;
    padding: 10px;
}

.radioButtonContainer {
    width: 40%;
    margin: 8px;
    display: flex;
    align-items: center;
}

.radioButtonText {
    color: #302c57;
    font-size: .875em;
}

.clearAndApplyContainer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    border-top: 1px solid rgba(0,0,0,.16);
}

.clearButton {
    width: 90px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .875em;
    border-radius: 4px;
    color: #9b9b9b;
    border: solid 1px #bcbcbc;
    background-color: #fff;
    margin-right: 16px;
    cursor: pointer;
}

.filterApplyButton {
    width: 90px;
    cursor: pointer;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #2874f0;
    font-size: .875em;
    color: #fff;
}

.radioButtonContainer {
    width: 40%;
    margin: 10px;
    display: flex;
    align-items: center;
}

.radioButtonSelectedBorder {
    border: solid 1px #2874f0;
}
.radioButton {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px #bcbcbc;
    background-color: #fff;
}

.selctedRadioButton {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #2874f0;
}

.dropdown-toggle::after{
    display: none;
}

.applyButton {
    font-size: 12px;
    color: #fff;
    display: flex;
    flex: 1;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(81deg,#f54ea2,#ff7676);
    cursor: pointer;
}

.summaryTitle {
    color: #302c57;
    flex: 1;
    font-size: 14px;
}

.loadMoreButton {
    background: #fff;
    border: 0;
    width: 200px;
    color: #f85996 !important;
    border-radius: 33px;
    padding: 7px 19px 8px 19px;
    font-weight: 500;
    color: #424242;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #f85996;
    margin: 20px auto;
    text-align: center;
    display: block;
}

.aboutFitpassContainer {
    padding: 16px 16px;
    background-color: #fff;
}

.preFooterTitle {
    font-size: .875em;
    margin-bottom: 5px;
    font-weight: 700;
    color: #302c57;
}

.preFooterDescription {
    font-size: .75em;
    color: #657498;
    line-height: 1.33;
}

.prefooterlink {
    text-decoration: none;
    color: #657498;
}

autocompletecomponent:focus {
    outline-width: 0;
    outline: 0;
}

.googlesearch:focus{
    box-shadow: none;
    outline-width: 0;
    outline: 0;
}

.amenity-content{
    top: 16px !important;
}
.sortby{
    width: 100%;
    height: 97%;
    border: none;
    padding: inherit;
}

.sortby:focus{
    outline: none;
}