<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><button class="ma5menu__toggle" type="button">
    <span class="ma5menu__icon-toggle"></span> <span class="ma5menu__sr-only">Menu</span>
</button></li>
            </ul>
        </div>
    </div>
</nav>
<center><h3>All Cources</h3></center>
<div class="container">

<style type="text/css">

.cardcustom {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .24);
    justify-content: space-between;
    padding:20px; 
}

</style>

<div class="row">

    <div *ngFor="let allcources of courceArr" class="col-sm-4">
        <div class="cardcustom">
        <div class="view view-cascade overlay">
    <img class="card-img-top" style="height:200px" src="{{allcources.images}}" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
      <h4 class="card-title">Name: <strong>{{allcources.course_title}}</strong></h4>
    <!-- Subtitle -->
    <h5 class="blue-text pb-2"><strong>{{allcources.coursecategorytitle}}</strong></h5>
    <!-- Text -->
    <p class="card-text">Fee: {{allcources.fees}}</p>
   </div> 
    </div>
            
</div>

<!-- mobile menu toggle button start -->

<!-- mobile menu toggle button end -->
    <div style="display: none;">

    <!-- source for mobile menu start -->
    <ul class="site-menu">
        
        <li  *ngFor="let getcources of cateArr"><a href="javascript:void(0);">{{getcources.heading}}</a>

             <ul>
                <li *ngFor="let l of getcources.data" ><a href="javascript:void(0);" (click)="catSelect(l.id)">{{l.title}}</a></li>
             </ul>     
        </li>

    </ul>
    <!-- source for mobile menu end -->

    <!-- source for mobile menu footer end -->
</div>
</div>