<main>
        <div class="bannerContainer">
          <div
            style="background-image:url(&quot;https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/banner_web_career_2.png&quot;)"
            class="partnerBannerContent">
            <h1 class="bannerHeading extraBold f1">FIT IN <br> WITH FITPASS </h1>
            <div class="gradientUnderLine ml_20"></div>
            <span class="bannerDescription bold"> Join our team to enable people
              to lead <br> healthy lives.</span>
              <a href="#jobs" class="joinButton">See job openings</a>
          </div>
        </div>
    
        <div class="officeContainer flex bgWhite">
          <div class="flex-1_5 flex column justifyCenter">
            <div>
              <h2 class="f3 mb_15">Why work at FITPASS?</h2>
              <span class="f6 lh_1_3">New and exciting events are unravelling
                at FITPASS. With each step, each action, each endeavour, we are making working out convenient, economical,
                and fun for everyone. Not just the concepts, but everything at FITPASS is unique and dynamic to make health
                &amp; wellness services easily accessible. FITPASS is changing the fitness landscape of India, helping
                people get and stay fit.</span>
              <div class="flex alignStart mt_40">
                <img width="80"
                  src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/deco_1@2x.png">
                <div class="flex-1 ml_10">
                  <img width="100%"
                    src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/img_1@2x.png"></div>
              </div>
            </div>
          </div>
          <div class="flex-1 ml_10">
            <img width="100%" class="mb_10"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/img_4@2x.png">
              <img width="100%"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/img_2@2x.png">
            </div>
          <div class="flex-1 ml_10">
            <img width="100%" class="mb_10"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/img_5@2x.png">
              <img width="100%"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/img_3@2x.png">
            </div>
        </div>
    
        <div class="bgWhite whyWork">
          <h2 class="f3 mb_15">What are we looking for?</h2>
          <span class="f6 lh_1_3">A craze for fitness and a zeal that’s
            hard to contain. Doesn’t matter who you are, how old you are or where you’re from. We are a young group with no
            limits when it comes to initiative and responsibility. And, we are looking for others like us. Apart from
            executing the assigned tasks, we want to expand our team with persons who have the vision and drive to take
            things to the next level. If you have ideas and a passion to execute them, you should be at FITPASS.</span>
        </div>
    
        <div class="flex alignCenter column mt_40 mb_20">
          <h2 class="f3 extraBold column letterSpacing2 lh_1_3">PERKS</h2>
          <div class="headingGradient mt_5"></div>
        </div>
    
        <div class="flex bgWhite perksContainer mt_32 mb_35">
          <div class="flex alignCenter">
            <img class="perksLogo"
              src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/icons_fp_ic.png"></div>
          <div class="flex flexWrap spaceBetween ml_20">
            <div class="flex benefitContainer textLeft">
              <div class="flex col alignCenter flex-0">
                <img class="perkIcon"
                  src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/hierarchy_ic.svg">
                <div class="benefitGradient"></div>
              </div>
              <div class="flex col ml_15">
                <span class="f20 bold c1">No Hierarchy</span>
                <span class="c1 mt_12">We encourage
                  creativity. You have suggestions? We will gladly back you to do what you want to make it work out</span>
              </div>
            </div>
            <div class="flex benefitContainer textLeft">
              <div class="flex col alignCenter flex-0">
                <img class="perkIcon"
                  src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/stay_fit_ic.svg">
                <div class="benefitGradient"></div>
              </div>
              <div class="flex col ml_15">
                <span class="f20 bold c1">Stay Fit</span>
                <span class="c1 mt_12">Let us just say
                  that at FITPASS, you will never have to think about your next workout (except for which one you want to
                  attend)</span>
                </div>
            </div>
            <div class="flex benefitContainer textLeft">
              <div class="flex col alignCenter flex-0">
                <img class="perkIcon"
                  src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/time_ic.svg">
                <div class="benefitGradient">
    
                </div>
              </div>
              <div class="flex col ml_15">
                <span class="f20 bold c1">Take Your Time</span>
                <span class="c1 mt_12">Rejuvenate
                  yourself physically and mentally. Want to visit the mountains or hit the beach? Go ahead! We just want you
                  to take responsibility for your work</span>
                </div>
            </div>
            <div class="flex benefitContainer textLeft">
              <div class="flex col alignCenter flex-0">
                <img class="perkIcon"
                  src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/healthcare_ic.svg">
                <div class="benefitGradient"></div>
              </div>
              <div class="flex col ml_15">
                <span class="f20 bold c1">Health Check-ups</span>
                <span class="c1 mt_12">Not just
                  fit, you should be healthy inside out. Our associates enable you to keep a track of your vitals so that
                  you never fall sick</span>
                </div>
            </div>
            <div class="flex benefitContainer textLeft">
              <div class="flex col alignCenter flex-0">
                <img class="perkIcon"
                  src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/party_ic.svg">
                <div class="benefitGradient"></div>
              </div>
              <div class="flex col ml_15">
                <span class="f20 bold c1">Party Lovers</span>
                <span class="c1 mt_12">We celebrate
                  everything. Whether it’s your birthday, a festival, or the end of the month, we just need a reason to
                  party</span>
                </div>
            </div>
            <div class="flex benefitContainer textLeft">
              <div class="flex col alignCenter flex-0">
                <img class="perkIcon"
                  src="https://fitpass-images.s3-ap-southeast-1.amazonaws.com/cdn/images/careers/open_space_ic.svg">
                <div class="benefitGradient"></div>
              </div>
              <div class="flex col ml_15">
                <span class="f20 bold c1">Open Space</span>
                <span class="c1 mt_12">Our workspace
                  allows you to approach anyone, anytime. Work with different teams and executives and walk up to the bosses
                  whenever you need</span>
                </div>
            </div>
          </div>
        </div>
    
        <div class="mt_20 f20 mb_20 bgWhite textCenter pt_16 pb_16">Currently there are no job openings.</div>
    
    
    
      </main>