/* CSS for Careers page */

.bannerContainer {
    padding-left: 0;
}

.column {
    flex-direction: column;
}

.partnerBannerContent {
    background-size: cover;
}

.partnerBannerContent {
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 46px;
    display: flex;
    flex: 1;
    padding-left: 40px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: flex-start;
}

.bannerHeading {
    font-size: 2.125em;
    color: #0f1f2e;
    text-transform: uppercase;
    line-height: 1.12;
}

.bannerDescription {
    font-size: 1.25em;
    color: #2e276e;
    line-height: 1.3;
    max-width: 556px;
}

.joinButton {
    text-decoration: none;
}

.joinButton {
    background: #2874f0;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    margin-top: 18px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .26);
}

.officeContainer {
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 45px;
    padding-bottom: 20px;
}

.whyWork {
    padding-left: 40px;
    padding-right: 80px;
    padding-bottom: 40px;
}

.whyWork h2{
    font-weight: bold;
}

.letterSpacing2 {
    letter-spacing: 2px;
}

.gradientUnderLine {
    width: 80px;
    height: 6px;
    align-self: auto;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 16px;
    border-radius: 2.5px;
    background-image: linear-gradient(94deg, #303395, #1b9dff);
}

.headingGradient {
    width: 105px;
    height: 4px;
    border-radius: 5px;
    background-image: linear-gradient(92deg,#303395 2%,#1b9dff 99%);
}

.perksContainer {
    width: 80%;
    margin-left: 10%;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-right: 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.perksLogo {
    background-color: #f2f2f2;
    width: 160px;
    margin-left: -73px;
}

.textCenter {
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .main {
        min-width: 100%;
    }

    .bannerContainer {
        flex-direction: column;
        align-items: center;
        background: #fff;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        text-align: center;
    }


    .patnerBannerImage {
        width: 100%;
    }

    .partnerBannerContent {
        padding: 0;
        align-items: center;
        margin-top: -124px;
        background: none;
        padding-left: 16px;
        padding-bottom: 16px;
        padding-right: 16px;
    }

    .bannerHeading {
        font-size: 1.3em;
        letter-spacing: 2px;
        text-align: center;
        font-family: Gotham Bold;
        text-transform: uppercase;
    }
    .gradientUnderLine {
        height: 3px;
        width: 60px;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    
    .bannerDescription {
        font-size: .875em;
    }

    .joinButton {
        padding: 10px 20px;
        font-size: .75em;
        border-radius: 20px;
    }


}